/**
 * 
 */
.col--page {
	@extend .col;
	width: size_in_context(400, 1021);
}

.type-page {
	position: relative;

	.page--main {
		@extend .col;
		position: relative;
	}
	
	.page_item .children {
		padding: ( $grid_padding * .25 ) 0 $grid_padding*.25 $grid_padding*.5;
	}
}

.page--thumbnail {
	position: absolute;
	right: 0;
	top: $height_header;
	z-index: 0;
}


/**
 * Course About Page
 *
 */

/**
 * Block that displays link through to main content block.
 * 
 */
.about--gallery {
	position: relative;

	img {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		max-width: auto;
	}
}

.about--news-feed{
	&>.h2{
		@include rem( margin-bottom, 1 );
	}
	.news-feed--article{
		@include rem( margin-bottom, 1 );
	}
	.news-feed--meta{	
		@include fontstack_light;

	}
	.news-feed--title{
		@include fontstack_medium;
		@include rem( margin-bottom, 1 );
	}
}
