/**
 * 
 */
.col--page {
	@extend .col;
	width: size_in_context(400, 1021);
}

.type-page {
	position: relative;
	width: size_in_context(738, 1021);

	@include breakpoint($breakpoint_palm_max) {
		width: auto;
		padding: 0 $grid_padding * .5;
	}

	.page--main {
		@extend .col;
		position: relative;
		width: size_in_context(400, 738);
	}
	.page--aside {
		@extend .col;
		position: relative;
		width: size_in_context(226, 738);
	}
}

.page--thumbnail {
	position: absolute;
	right: 0;
	top: $height_header;
	z-index: 0;
}


/**
 * Course About Page
 *
 */

/**
 * Block that displays link through to main content block.
 * 
 */
.about--gallery {
	position: relative;

	img {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		max-width: auto;
	}
}
