.article--thumbnail {
	$margin-negative: $grid_padding * -1;
	margin: $margin-negative $margin-negative $grid_padding $margin-negative;

	img {
		width: 100%;
		height: auto;
	}
}

.article--header .h2 {
	margin-top: 0;
}

.author {
	text-transform: capitalize;
}

.admin {
	display: block;
	margin-top: $grid_padding;
}