.stream--article {
	border-top: 1px solid $colour_red;
	padding: 1.4rem 0;

	&.article__w-thumbnail:first-child,
	&:first-child {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}
	
	&.article__w-thumbnail {
		margin-top: $grid_padding;
		border-top: none;
	}
}

.article--header{
	@include rem( 'padding-bottom', 0.4 );
	h2{
		margin-top: 0;
	}
	img{
		@include rem( 'margin-bottom', .5 );
	}	
}

.article--meta{
	@include fontstack_light;
	@include font-size( .8 );
	@include rem('padding-right', 1.4 );

	@include breakpoint( $breakpoint_desk_max ) {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-between;
			
		.byline br {display: none }
	}

	.vcard {
		@include fontstack_medium;
		text-transform: capitalize;

		@include breakpoint( $breakpoint_palm ) {
			display: block;
			margin-bottom: $grid_padding;
		}
	}

}

.article__format-image,
.article__format-video {
	.article--header{
		display: none;
	}
}

.article__format-link{
	.article--header{
		.h2{
			@include font-size( 1.85 );
			margin-bottom: 0;
		}
	}
}

.article__format-quote{
	
	.article--header{
		display: none;
	}
	
	blockquote{
		@include fontstack_medium;
		&, p{
			@include font-size( 1.45 );
		}
	}
}




.article--thumbnail {
	$margin-negative: $grid_padding * -1;
	margin: $margin-negative $margin-negative $grid_padding $margin-negative;

	img {
		width: 100%;
		height: auto;
	}
}

.entry-date{
	display: block;	
	@include rem( margin-bottom, 0.9 );
	
	.date{
		@include fontstack_medium;
		@include rem( margin-top, 0.2 );	
	}

	@include breakpoint( $breakpoint_lap ) {
		.time, .data {
			display: block
		}
	}
}

.post_format{
	display: block;
	height: 0;
	@include rem( margin-bottom, 0.9 );
	overflow: hidden;
	padding-top: 2.5em;
	position: relative;	
	&:before{
		color: $colour_grey;
		display: block;
		font-size: 2.5em;
		position: absolute;
		top: 0;
	}
}
