.stream--article {
	border-top: 1px solid $colour_red;
	padding: 1.4rem 0;

	&.article__w-thumbnail,
	&:first-child {
		border-top: 0;
		padding-top: 0;
	}
	
	&.article__w-thumbnail {
		margin-top: $grid_padding;
	}
	.article--header{
		@include rem( 'padding-bottom', 0.4 );
		h2{
			margin-top: 0;
		}
		img{
			@include rem( 'margin-bottom', .5 );
		}	
	}
	.article--meta{
		@include fontstack_light;
		@include font-size( .8 );
		@include rem('padding-right', 1.4 );
	}
}

.article--thumbnail {
	$margin-negative: $grid_padding * -1;
	margin: $margin-negative $margin-negative $grid_padding $margin-negative;

	img {
		width: 100%;
		height: auto;
	}
}

.entry-date{
	display: block;	
	
	.date{
		display: block;
		@include fontstack_medium;
		@include rem( margin-top, 0.2 );	
	}
	.time{
		display: block;	
	}
}

.post_format{
	display: block;
	height: 0;
	@include rem( margin-top, 1.4 );
	@include rem( margin-bottom, 1.4 );
	overflow: hidden;
	padding-top: 2.5em;
	position: relative;	
	&:before{
		color: $colour_grey;
		display: block;
		font-size: 2.5em;
		position: absolute;
		top: 0;
	}
}
	
.byline{
	.author{
		@include fontstack_medium;
		text-transform: capitalize;
	}
}

.admin {
	display: block;
	margin-top: $grid_padding;
}
