/**
 * Profile Template
 *
 * Used on the Staff & Student Profiles
 */

.profile {

}

.profile--wrap {
	position: relative;

	div {
		position: relative;
		z-index: 1;
	}

	.profile--headshot {
		position: absolute;
		top: 0;
		right: 11%;
		z-index: 0;
		width: 72.2%; // 100% / 18 * 13
	}
	
	.profile--quick {
		ul {
			@extend .listing__navigation;
		}
	}
}