/**
 * Profile Template
 *
 * Used on the Staff & Student Profiles
 */

.profile--wrap {
	position: relative;

	div {
		position: relative;
		z-index: 1;
	}

	.profile--headshot {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}
}