/**
 * Components related exclusively to the site build, so if
 * you've noticed some really weird colours then this is likely the file to check
 */

.populate {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 33%;
	display: none;

	form {
		background: #fff;
		border: $colour_dark 1px solid;
		padding: 1rem;
	}

	select {
		display: block;
		width: 100%;
	}
}

/**
 * Debugging
 */

x*[class*="col"] {
	outline: 1px solid red;
}


.cell {
	xbackground: rgba(0,255,0,0.2);
}

#beta {
	background: $colour_red;
	color: $colour_white;
	display: block;
	position: fixed;
	@include rem( 'height', $height_menu );
	@include rem( 'width', $height_menu );
	@include rem( 'top', $height_menu );
	@include rem( 'left', $grid_padding );
	line-height: 2.6;
	text-align: center;
	z-index: 99;

	@include breakpoint( $breakpoint_lap_max ) {
		left: 0;
	}
}