
/**
 * Colour Reference: 
 *
	$colour_black: #000000;
	$colour_grey: #232322;
	$colour_white: #ffffff;
	$colour_magenta: #b4083f;
	$colour_blue: #0932c4;
	$colour_yellow: #ffff00;
	$colour_green: #27874b;
	$colour_red: #f4000f;
	$colour_bluegrey: #252437;
 */

.colour--dark {
	background-color: $colour_grey;
	color: #fff;

	a {
		color: #fff;
	}
}

.colour--green {
	background-color: $colour_green;
	color: #fff;

	a {
		color: #fff;
	}
}

.colour--blue {
	background-color: $colour_blue;
	color: #fff;

	a {
		color: #fff;
	}
}

.colour--red {
	background-color: $colour_red;
	color: #fff;

	a {
		color: #fff;
	}
}

.colour--yellow {
	background-color: $colour_yellow;
	color: #000;

	a {
		color: #000;
	}
}

.colour--white {
	background-color: $colour_white;
	color: #000;
}

.colour--light-grey {
	background-color: $colour_light;


	a {
		color: $colour_blue;
	}
}