/**
 * 
 * Helpers
 * -------
 * 
 * These should only be one or two properties in length and prefixed with '.h-'
 * 
 */

.h-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.h-animate-transform{
	@include transition( transform, .5s, ease-in-out );
}

.h-screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
