/**
 *  Post Formats
 */

.dashicon{
	@include inline-block;
	@include fontstack_dashicons;	
	@include rem( margin-right, .6 );
	vertical-align: center;
	-webkit-font-smoothing: antialiased;
}

.post_format__image:before{
	@extend .dashicon;
	content: '\f128';
}

.post_format__gallery:before{
	@extend .dashicon;
	content: '\f161';
}

.post_format__audio:before{
	@extend .dashicon;
	content: '\f127';
}

.post_format__video:before{
	@extend .dashicon;
	content: '\f126';
}

.post_format__link:before{
	@extend .dashicon;
	content: '\f103';
}

.post_format__chat:before{
	@extend .dashicon;
	content: '\f125';
}

.post_format__status:before{
	@extend .dashicon;
	content: '\f130';
}

.post_format__aside:before{
	@extend .dashicon;
	content: '\f123';
}

.post_format__quote:before{
	@extend .dashicon;
	content: '\f122';
}

.search__submit:before{
	@extend .dashicon;
	content: '\f179';
}
.action__clear:before,
.search__clear:before{
	@extend .dashicon;
	content: '\f158';
}

.no-icon:before{
	content: '';
	display: none;
}