/*------------------------------------*\
    $Layouts
\*------------------------------------*/
/**
 * Built off of the excellent CSS Wizardy grid system [libs/_grids.scss]
 * as we're only using a small subsection of it's functionality we use
 * SASS silent classes to pull through required behaviour. 
 */

/**
 * Container for the site's content, there may be multiple instances on this
 * on the page as it's main use is for centering content
 */
.site-wrap {
	margin: 0 auto;
	width: 100%;
	max-width: $size_grid_width;
	min-height: 100%;

//	@include rem('padding-top', $height_menu );

	@include breakpoint( $breakpoint_lap ) {
		padding: $grid_padding;
	}

	.lt-ie9 & {
		position: relative;
		min-height: auto;
	}
}

/**
 * Single use page container for the main bulk of the content, this forces
 * the footer to appear at the bottom of the page
 */
.site-main {
	min-height: 100%;
}

/**
 * Off grid units
 *
 * Used to handle components that aren't specifically addressed
 * with the main columns.
 */


	/**
	 * Small sidebar 
	 */
	.col--side {
		@extend .col;
		width: 22%
	}

	/**
	 * Main container for stream content used
	 * on noticeboards and sketchbooks
	 */
	.col--stream {
		@extend .col;
		width: 100% - (22 * 2)
	}
	
	/**
	 * Main content block, used on the single page template.
	 */
	.col--main {
		width: 39%;
	}

.palm--bigger-than {

	@include breakpoint( $breakpoint_palm_max ) {
		display: none;
	}
}

.palm--only {
	@include breakpoint( $breakpoint_palm ) {
		display: none;
	}
}