#wpadminbar,
#wp-toolbar,
.main-navigation {	
	width: 100%;
	@include rem( 'min-height', $height_menu );
	position: fixed;
	top: 0;
	z-index: 10;
	left: 0;

	.lt-ie9 & {
		position: absolute;
		top: 0;
	}

	.main-navigation-container__fixed-size{
		z-index: 10;			
		top: 0;
		left: 0;
		width: 100%;
		position: static;
	}

	.main-navigation-container__openable{
		display: none;
		position: fixed;
		right: 0;
		top: 0;		
		display: block;
		height: 100%;		
		max-height: 0;
		min-height: 0;
		position: static;
		z-index: 9;			
		top: 0;
		width: 100%;
		overflow: hidden;
		@include transition( max-height .5s ease-in-out, min-height .5s ease-in-out );
		&.open{
			height: auto;
			min-height: 0;
			max-height: 500em; //this is a high value to ensure that it will spring open
		}
	}

	.search-form--input {
		&:focus{
			@include box-shadow(none);
		}
	}

}

//block
.main-navigation,
.ab-top-menu {
	color: $colour_background;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	position: relative;
	flex-flow: row wrap;
	@include rem( 'height', $height_menu );
	width: 100%;
	max-width: $size_grid_width - 2.80rem; //needs a decimal so SASS calculates it to the right accuracy...
	z-index: 2;

	& > li {
		@include transition( max-width .25s ease-in-out, width .25s ease-in-out, min-width .25s ease-in-out );
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		width: auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		max-width: 100%;
		min-width: 0;
		height: 100%;
		@include breakpoint( $breakpoint_lap ){
			//if we've got a large enough screen
			-webkit-box-flex: 0;
			-moz-box-flex: 0;
			width: auto;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			//only force max-sizes if they won't need to stretch
			&:first-child, /* socd.io menu link */
			&:last-child   /* 'My Sites' or Logged In */{
				max-width: 5.875em;
			}

			&#wp-admin-bar-comments {
				max-width: 2.5em;
			}

			&#wp-admin-bar-new-content,
			&#wp-admin-bar-edit {
				max-width: 6.25em;
			}
			&.collapse{
				overflow: hidden;
				max-width: 0 !important; //have to fight those pesky ids...
			}
		}		
	}

	.a,
	.menupop .ab-empty-item,
	a {
		display: inline-block;
		line-height: 2.6;
		color: $colour_background;
		@include rem( padding-left, 1 );
		@include rem( padding-right, 1 ); 
		@include transition(.2s ease text-indent);

		&:hover{			
			.menupop &,
			.drop & {
				text-indent: .25em;
			}
		}

		// remove external or any link iconography
		// not relevant in menu
		&:after{
			content: none;
		}
	}

	.menupop .ab-empty-item{
		display: none;
	}

	.admin-bar-search,
	#wp-admin-bar-search,
	.main-navigation__menu-item--flexible{
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		width: auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		max-width: 100%;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	.menupop,
	.main-navigation__menu-item--dropdown {
		position: relative;
		
		.ab-submenu,
		.drop,
		ul{
			overflow: hidden;
			position: absolute;	
			top: 0;
			left: 0;
		}

		.ab-submenu,
		.drop{
			height: 0;
			top: 100%;

			.ab-submenu {
				top: 0;
				left: 100%;
			}
		}

		.ab-submenu,
		.drop,
		.drop>ul{
			min-width: 100%;
		}
				
		li{
			position: relative;

			a{
				display: block;
				@include rem( padding-left, 1 );
				@include rem( padding-right, 1.5 );
			}			

			position: relative;
			&:first-child{
				//@include rem( padding-top, .5 );
			}
			&:last-child{
				//@include rem( padding-bottom, .5 );
			}

			&>ul{				
				width: 0;
				padding: 0;
				left: 100%;
				position: absolute;
				top: 0;	
			}
			
			&:hover,
			&.s__hover, // Used on touch devices
			&.active{
				color: white;
				&>ul{
					overflow: visible;
					width: auto;
					min-width: 100%;
				}
			}
		}
		
		&:hover,
		&.s__hover, // Used on touch devices
		&.active {
			& > .ab-sub-wrapper > .ab-submenu,
			.drop{
				height: auto;
				overflow: visible;
			}
		}
	}

	.main-navigation__menu-item--search{
		height: 100%;
		form{
			height: 100%;
		}
		.adminbar-input,
		.site-search__input{
			color: $colour_background_dark;
			@include fontstack_medium;	
			@include rem( 'height', $height_menu );
		}

		input[type="submit"]{
			border: 0;
			height: 0;
			margin: 0;
			overflow: hidden;
			padding: 0;
			visibility: hidden;
			width: 0;
		}
	}
}

/**
 * Colour stepping our menu
 *
 */
.ab-top-menu > li,
.main-navigation__menu-item {
	background: $colour_background_dark;
	@include fontstack_light;	
	white-space: nowrap;

	.ab-submenu,
	.drop,
	.children,
	.flyout,
	ul{
		background: $colour_background_dark;
		.page_item,
		.drop__option,
		li{
			&:hover{
				background: lighten( $colour_background_dark, 40% );
				background: rgba( 255, 255, 255, 0.1 );
			}
			ul{
				background: lighten( $colour_background_dark, 10% );
				ul{
					background: lighten( $colour_background_dark, 20% );
					ul{
						background: lighten( $colour_background_dark, 30% );
					}
				}
			}
		}
	}
	
	$colours: (
		$colour_menu_grey_mid,
		$colour_menu_grey_light,
		lighten($colour_menu_grey_light, 10)
	);

	&.navigation--breadcrumb {
		text-indent: .2em;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: 1em solid transparent;
			border-width: 1.3rem .5rem;
			height: 0;
			width: 0;
		}
	}

	@for $i from 1 through length($colours) {
		
		$colour: nth( $colours, $i );

		&:nth-child( #{$i + 1} ){
			background: $colour;
			position: relative;

			// LA 
			// https://github.com/socd-io/Deployment/issues/78
			// 
			&:after {
				@if $i - 1 > 0 {
					border-left-color: nth( $colours, $i - 1 );
				} @else {
					border-left-color: $colour_background_dark;
				}
			}

			.drop,
			.children,
			.flyout,
			ul{
				background: $colour;
				.page_item,
				.drop__option,
				li{
					&:hover{
						background: lighten( $colour, 40% );
						background: rgba( 255, 255, 255, 0.1 );
					}
					ul{
						background: lighten( $colour, 10% );
						ul{
							background: lighten( $colour, 20% );
							ul{
								background: lighten( $colour, 30% );
							}
						}
					}
				}
			}
		}
	}

	.title{
		@include fontstack_medium;	
	}
}

//logged in menu styles
body.logged-in{
	.main-navigation{
		.main-navigation__menu-item--quickpost{
			display: block;
		}
	}
}

.admin-bar-search,
.site-search{
	width: 100%;

	input[type="text"] {
		background-color: $colour_white !important;
	}

	.ab-item,
	#adminbarsearch{
		height: 100%;
	}

	.site-search__input{
		height: 100%;
		outline: none;
		border: none;
		background-color: #FFFFFF;
		@include rem( 'height', $height_menu );
		padding: 0 1em;
		margin: 0;
		font-size: 1em;		
		width: 100%;
	}
}

	.main-navigation__menu-item--quickpost {		
		display: none;
		position: absolute;
		right: 0;
		@include rem( 'height', $height_menu );
		@include rem( 'width', $height_menu );
		.title{
			text-align: center;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

#wp-admin-bar-my-account,
li.main-navigation__menu-item--profile {
	background: $colour_yellow;
	color: $colour_background_dark;

	ul {
		background: $colour_yellow;
	}

	a {
		color: $colour_background_dark;
		@include fontstack_medium;
	}

	.avatar{
		display: none;
	}

	.title{
		@include inline-block;
		vertical-align: top;
		@include breakpoint( $breakpoint_palm_max ) {
			a{
				color: $colour_background;
			}
		}
	}
	.drop{
		background: $colour_yellow;
		a{
			color: $colour_background_dark;
			&:hover{
				color: $colour_link;
			}
		}
	}

	&.logged-out{
		&:hover,
		&.active{
			.drop{
				@include rem( padding, 1 );
				width: 20em;
				left: auto;
				right: 0;
			}
		}
		form{
			label{
				font-size: 0.8rem;
				display: block;
				//line-height: 1.5;
			}
			p{
				margin-bottom: 0.5em;
			}
			input:not([type="submit"]){
				background: $colour_background;
			}	
			.login-remember{
				float: left;
				margin-bottom: 0;
				label{
					line-height: 2.6;
					input{
						margin-right: 0;
					}
				}
			}
			.login-submit{
				float: right;
				margin-bottom: 0;
				line-height: 1;
			}
		}
	}
}

.navigation-notifications{
	background: $colour_light;
	color: $colour_background_dark;
	@include rem( 'max-height', 10 );
}

.navigation-quickpost{
	background: $colour_blue;		
}

.navigation--create-a-blog {
	background: $colour_red !important;
}

/**
 * Now we're too late in the day we decided to use the WP Admin bar once logged in!
 *
 * Great idea, below are some pretty brutal styles targetted at that ID heavy markup
 */
#wpadminbar {

	/**
	 * 
	 */
	&:focus {
		outline: none;
	}

	.ab-top-menu > li {
		& > a {
			@include fontstack_medium;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	}

	/**
	 * Search Form
	 */
	.adminbar-button {
		display: none;
	}
	
	/* Very Temporary */
	.screen-reader-shortcut {
		display: none;
	}
}

@include breakpoint( $breakpoint_palm ) {
	#wp-admin-bar-my-sites {
		.ab-submenu {
			left: auto;
			right: 0;

			.ab-submenu {
				right: 100%;
			}
		}
	}

}
.admin-bar {
	.header {
		@include rem( 'padding-top', ( 2.62 + 3.95 ) );
	}
}

#wp-toolbar:focus{
	outline: none;
}
