#wpadminbar,
.main-navigation-container{	
	width: 100%;
	@include rem( 'min-height', $height_menu );
	position: fixed;
	top: 0;
	z-index: 10;
	left: 0;

	.lt-ie9 & {
		position: absolute;
		top: 0;
	}

	.main-navigation-container__fixed-size{
		z-index: 10;			
		top: 0;
		left: 0;
		width: 100%;
		position: static;
	}
	.main-navigation-container__openable{
		display: none;
		position: fixed;
		right: 0;
		top: 0;		
		display: block;
		height: 100%;		
		max-height: 0;
		min-height: 0;
		position: static;
		z-index: 9;			
		top: 0;
		width: 100%;
		overflow: hidden;
		@include transition( max-height .5s ease-in-out, min-height .5s ease-in-out );
		&.open{
			height: auto;
			min-height: 0;
			max-height: 500em; //this is a high value to ensure that it will spring open
		}
	}
}

//block
.main-navigation,
.ab-top-menu {
	background: $colour_background_dark;
	color: $colour_background;
	display: inline-block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	position: relative;
	@include rem( 'height', $height_menu );
	width: 100%;
	max-width: $size_grid_width - 2.7;
	z-index: 2;

	.a,
	.menupop .ab-empty-item,
	a {
		display: inline-block;
		line-height: 2.6;
		color: $colour_background;
		@include rem( padding-left, 1 );
		@include rem( padding-right, 1 ); 
		@include transition(.2s ease text-indent);

		&:hover{
			color: $colour_white;
			
			.menupop &,
			.drop & {
				text-indent: .25em;
			}
		}

		// remove external or any link iconography
		// not relevant in menu
		&:after{
			content: none;
		}
	}


	.admin-bar-search,
	.main-navigation__menu-item--flexible{
		-webkit-box-flex: 1;
		-moz-box-flex: 1;			
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		max-width: 100%;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	& > li {
		@include transition( max-width .25s ease-in-out, width .25s ease-in-out, min-width .25s ease-in-out );
		width: auto;
		max-width: 400px;
		min-width: 0;
		
		&.collapse{
			overflow: hidden;
			max-width: 0;
		}
	}
	
	.menupop,
	.main-navigation__menu-item--dropdown {
		position: relative;
		
		.ab-submenu,
		.drop,
		ul{
			overflow: hidden;
			position: absolute;	
			top: 0;
			left: 0;
		}

		.ab-submenu,
		.drop{
			height: 0;
			top: 100%;

			.ab-submenu {
				top: 0;
				left: 100%;
			}
		}

		.ab-submenu,
		.drop,
		.drop>ul{
			min-width: 100%;
		}
				
		li{
			position: relative;

			a{
				display: block;
				@include rem( padding-left, 1 );
				@include rem( padding-right, 1.5 );
			}			

			position: relative;
			&:first-child{
				//@include rem( padding-top, .5 );
			}
			&:last-child{
				//@include rem( padding-bottom, .5 );
			}

			&>ul{				
				width: 0;
				padding: 0;
				left: 100%;
				position: absolute;
				top: 0;	
			}
			
			&:hover,
			&.s__hover, // Used on touch devices
			&.active{
				color: white;
				&>ul{
					overflow: visible;
					width: auto;
					min-width: 100%;
				}
			}
		}
		
		&:hover,
		&.s__hover, // Used on touch devices
		&.active {

			& > .ab-sub-wrapper > .ab-submenu,
			.drop{
				height: auto;
				overflow: visible;
			}
		}
	}

	.main-navigation__menu-item--search{
		height: 100%;
		form{
			height: 100%;
		}
		.adminbar-input,
		.site-search__input{
			color: $colour_background_dark;
			@include fontstack_medium;	
			@include rem( 'height', $height_menu );
			&:focus{
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
		}
		input[type="submit"]{
			border: 0;
			height: 0;
			margin: 0;
			overflow: hidden;
			padding: 0;
			visibility: hidden;
			width: 0;
		}
	}
}

/**
 * Colour stepping our menu
 *
 */
.ab-top-menu > li,
.main-navigation__menu-item {
	background: $colour_background_dark;
	@include fontstack_light;	
	white-space: nowrap;

	.ab-submenu,
	.drop,
	.children,
	.flyout,
	ul{
		background: $colour_background_dark;
		.page_item,
		.drop__option,
		li{
			&:hover{
				background: lighten( $colour_background_dark, 40% );
				background: rgba( 255, 255, 255, 0.1 );
			}
			ul{
				background: lighten( $colour_background_dark, 10% );
				ul{
					background: lighten( $colour_background_dark, 20% );
					ul{
						background: lighten( $colour_background_dark, 30% );
					}
				}
			}
		}
	}
	
	$colours: (
		$colour_menu_grey_mid,
		$colour_menu_grey_light,
		lighten($colour_menu_grey_light, 10)
	);

	&.navigation--breadcrumb {
		text-indent: .2em;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: 1em solid transparent;
			border-width: 1.3rem .5rem;
			height: 0;
			width: 0;
		}
	}

	@for $i from 1 through length($colours) {
		
		$colour: nth( $colours, $i );

		&:nth-child( #{$i + 1} ){
			background: $colour;
			position: relative;

			// LA 
			// https://github.com/socd-io/Deployment/issues/78
			// 
			&:after {
				@if $i - 1 > 0 {
					border-left-color: nth( $colours, $i - 1 );
				} @else {
					border-left-color: $colour_background_dark;
				}
			}

			.drop,
			.children,
			.flyout,
			ul{
				background: $colour;
				.page_item,
				.drop__option,
				li{
					&:hover{
						background: lighten( $colour, 40% );
						background: rgba( 255, 255, 255, 0.1 );
					}
					ul{
						background: lighten( $colour, 10% );
						ul{
							background: lighten( $colour, 20% );
							ul{
								background: lighten( $colour, 30% );
							}
						}
					}
				}
			}
		}
	}

	.title{
		@include fontstack_medium;	
	}
}

//logged in menu styles
body.logged-in{
	.main-navigation{
		.main-navigation__menu-item--quickpost{
			display: block;
		}
	}
}

.admin-bar-search,
.site-search{
	width: 100%;

	input[type="text"] {
		background-color: $colour_white !important;
	}

	.ab-item,
	#adminbarsearch{
		height: 100%;
	}

	.site-search__input{
		height: 100%;
		outline: none;
		border: none;
		background-color: #FFFFFF;
		@include rem( 'height', $height_menu );
		padding: 0 1em;
		margin: 0;
		font-size: 1em;		
		width: 100%;
	}
	.twitter-typeahead{
		width: 100%;
		@include rem( 'height', $height_menu );
		vertical-align: top;
		a{
			color: $colour_black;
			&:hover{
				color: $colour_link;
			}
		}
		input{
			@include box-sizing( border-box );
			width: 100%;
			height: 100%;
			padding: 0 1em;
			margin: 0;
			border: none;
			outline: none;			
			font-size: 1em;		
		}
		.tt-hint{
			color: lighten( $colour_black, 40% );
		}
		.tt-dropdown-menu{
			width: 100%;			
			background: $colour_white;
			&>div,
			[class^="tt-dataset-"]{
				border-top: 1px solid $colour_background;
				clear: both;				
				overflow: hidden;
				@include rem('padding-bottom', .5 );
				@include rem('padding-left', 1 );
				@include rem('padding-right', 1 );
				@include rem('padding-top', .5 );
				&:first-child{
					border-top: none;
				}
				.tt-suggestions-title{
					color: $colour_black;
					float: left;
					@include fontstack_medium;
					height: 100%;	
					//line-height: 1.6;
					text-transform: capitalize;
					width: 16%;
					h2{
						white-space: normal;	
					}
				}
				.tt-suggestions{
					float: left;
					width: 84%;	
					.tt-suggestion{
						padding: 0 .5em;
						line-height: 1.6;
						width: 100%;
						p{
							margin-bottom: 0;
						}
						&:hover,
						&:hover a,
						&.tt-is-under-cursor,
						&.tt-is-under-cursor a{
							color: $colour_link;
						}
					}
				}				
				&:hover{
					.tt-suggestions-title{
						color: $colour_link;
					}
				}
			}
		}
	}
}
	#wp-admin-bar-my-account,
	.main-navigation__menu-item--profile{
		.title a{
			color: $colour_background_dark;
		}
		.drop{
			background: $colour_menu_grey_light;
			color: $colour_background_dark;
			right: 0;
			left: auto;			
		}
		&.logged-out{
			&:hover,
			&.active{
				.drop{
					@include rem( padding, 1 );				
				}
			}
			form{
				label{
					font-size: 0.8rem;
					display: block;
					//line-height: 1.5;
					color: $colour_white;
				}
				p{
					margin-bottom: 0.5em;
				}
				input:not([type="submit"]){
					background: $colour_background;
				}	
				.login-remember{
					float: left;
					margin-bottom: 0;
					label{
						line-height: 2.6;
						input{
							margin-right: 0;
						}
					}
				}
				.login-submit{
					float: right;
					margin-bottom: 0;
					line-height: 1;
				}
			}
		}
	}
	.main-navigation__menu-item--quickpost {		
		display: none;
		position: absolute;
		right: 0;
		@include rem( 'height', $height_menu );
		@include rem( 'width', $height_menu );
		.title{
			text-align: center;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

#wp-admin-bar-my-account,
li.main-navigation__menu-item--profile {
	background: $colour_yellow;

	ul {
		background: $colour_yellow;
	}

	@include rem( padding-right, $height_menu );

	a {
		color: $colour_background_dark;
		@include fontstack_medium;
	}

	.avatar{
		display: none;
	}

	.title{
		@include inline-block;
		vertical-align: top;
		@include breakpoint( $breakpoint_palm_max ) {
			a{
				color: $colour_background;
			}
		}
	}
	.drop{
		background: $colour_yellow;
		a{
			color: $colour_background_dark;
			&:hover{
				color: $colour_link;
			}
		}
	}
}

.navigation-notifications{
	background: $colour_light;
	color: $colour_background_dark;
	@include rem( 'max-height', 10 );
}

.navigation-quickpost{
	background: $colour_blue;		
}

/**
 * Nowhere to late in the day we decided to use the WP Admin bar once logged in!
 *
 * Great idea, below are some pretty brutal styles targetted at that ID heavy markup
 */
#wpadminbar {

	.ab-top-menu > li {
		@include breakpoint( $breakpoint_palm ) {
			display: inline-block;
		}

		& > a {
			@include fontstack_medium;
		}
	}

	/**
	 * Search Form
	 */
	.adminbar-button {
		display: none;
	}
	
	/* Very Temporary */
	.screen-reader-shortcut {
		display: none;
	}
}

@include breakpoint( $breakpoint_palm ) {
	#wp-admin-bar-my-sites {
		.ab-submenu {
			left: auto;
			right: 0;

			.ab-submenu {
				right: 100%;
			}
		}
	}

}
.admin-bar {
	@include rem( 'margin-top', 2.62 );
}
