.main-navigation-container{	
	*{
		@include box-sizing( border-box );
	}

	min-height: 100%;
	position: fixed;
	top: 0;
	z-index: 10;

	/**
	 * If the admin bar is visible then offset the
	 * SOCD toolbar off of the viewport top
	 */
	.admin-bar & {
		top: 28px;
	}

	.main-navigation-container__fixed-size{
		left: $size_grid * -4.5;
		min-height: 100%;
		position: absolute;
		top: 0;
		width: $size_grid * 4;
	}
	.main-navigation-container__openable{
		display: none;
		min-height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 10;
	}
	.main-navigation-container__mobile-toggle{
		background: red;
		display: block;
		left: 0;
		position: fixed;
		top: 0;
		@include rem( 'height', $height_menu );
		@include rem( 'width', $height_menu );
	}
	@include breakpoint($breakpoint_palm) {	
		width: $size_grid_width;
		@include rem( 'min-height', $height_menu );
		.main-navigation-container__fixed-size{
			z-index: 10;			
			top: 0;
			left: 0;
			width: 100%;
			position: static;
		}
		.main-navigation-container__openable{
			display: block;
			height: 100%;
			height: 100%;
			max-height: 0;
			min-height: 0;
			position: static;
			z-index: 9;			
			top: 0;
			width: 100%;
			overflow: hidden;
			@include transition( max-height .5s ease-in-out, min-height .5s ease-in-out );
			&.open{
				height: auto;
				min-height: 0;
				max-height: 500em; //this is a high value to ensure that it will spring open
			}
		}
		.main-navigation-container__mobile-toggle{
			display: none;
		}
	}
}

//block
.main-navigation{
	background: $colour_background_dark;
	color: $colour_background;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 	
	@include rem( 'height', $height_menu );
	justify-content: center;
	@include rem( 'line-height', $height_menu );
	width: 100%;

	a{
		color: $colour_background;
		&:hover{
			color: $colour_link;
		}
	}

	// remove external or any link iconography
	// not relevant in menu
	a:after{
		content: none;
		display: none;
	}	
	
	.main-navigation__menu-item{
		background: $colour_background_dark;
		@include fontstack_light;
		white-space: nowrap;
		.drop,
		.children,
		.flyout,
		ul{
			background: $colour_background_dark;
			.page_item,
			.drop__option,
			li{
				&:hover{
					background: lighten( $colour_background_dark, 40% );
					background: rgba( 255, 255, 255, 0.1 );
				}
				ul{
					background: lighten( $colour_background_dark, 10% );
					ul{
						background: lighten( $colour_background_dark, 20% );
						ul{
							background: lighten( $colour_background_dark, 30% );
						}
					}
				}
			}
		}
		&:nth-child( 2 ){
			background: $colour_menu_grey_mid;
			.drop,
			.children,
			.flyout,
			ul{
				background: $colour_menu_grey_mid;
				.page_item,
				.drop__option,
				li{
					&:hover{
						background: lighten( $colour_menu_grey_mid, 40% );
						background: rgba( 255, 255, 255, 0.1 );
					}
					ul{
						background: lighten( $colour_menu_grey_mid, 10% );
						ul{
							background: lighten( $colour_menu_grey_mid, 20% );
							ul{
								background: lighten( $colour_menu_grey_mid, 30% );
							}
						}
					}
				}
			}
		}
		&:nth-child( 3 ){
			background: $colour_menu_grey_mid_light;
			.drop,
			.children,
			.flyout,
			ul{
				background: $colour_menu_grey_mid_light;
				.page_item,
				.drop__option,
				li{
					&:hover{
						background: lighten( $colour_menu_grey_mid_light, 40% );
						background: rgba( 255, 255, 255, 0.1 );
					}
					ul{
						background: lighten( $colour_menu_grey_mid_light, 10% );
						ul{
							background: lighten( $colour_menu_grey_mid_light, 20% );
							ul{
								background: lighten( $colour_menu_grey_mid_light, 30% );
							}
						}
					}
				}
			}	
		}
		&:nth-child( 4 ){
			background: $colour_menu_grey_light;
			.drop,
			.children,
			.flyout,
			ul{
				background: $colour_menu_grey_light;
				.page_item,
				.drop__option,
				li{
					&:hover{
						background: lighten( $colour_menu_grey_light, 40% );
						background: rgba( 255, 255, 255, 0.1 );
					}
				}
			}	
		}
	
		&.main-navigation__menu-item--flexible{
			-webkit-box-flex: 1;
			-moz-box-flex: 1;			
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			max-width: 100%;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		.title{
			@include fontstack_medium;	
			@include rem( padding-left, 1 );
			@include rem( padding-right, 1 ); 
		}
	}
	
	.main-navigation__menu-item--breadcrumb{
		@include transition( max-width .25s ease-in-out, width .25s ease-in-out, min-width .25s ease-in-out );
		width: auto;
		max-width: 400px;
		min-width: 0;
		&.collapse{
			max-width: 0;
		}
	}

	.main-navigation__menu-item--dropdown{
		position: relative;
		.drop,
		ul{
			overflow: hidden;
			position: absolute;			
		}
		.drop{
			height: 0;
			min-width: 100%;
			@include rem( top, $height_menu );
		}
				
		li{
			a{
				width: 100%;
				height: 100%;
				display: block;
				@include rem( padding-left, 1 );
				@include rem( padding-right, 1.5 );
			}			
			position: relative;
			&:first-child{
				//@include rem( padding-top, .5 );
			}
			&:last-child{
				//@include rem( padding-bottom, .5 );
			}

			&>ul{				
				width: 0;
				padding: 0;
				left: 100%;
				position: absolute;
				top: 0;	
			}
			&:hover,
			&.active{					
				color: white;
				&>ul{
					overflow: visible;
					width: auto;
					min-width: 100%;
					//@include rem( margin-top, -.5 );
					//@include rem( padding-top, .5 );
					//@include rem( padding-bottom, .5 );					
				}
			}
		}
		
		&:hover,
		&.active{
			.drop{
				height: auto;
				overflow: visible;
				// @include rem( padding-top, .5 );
				// @include rem( padding-bottom, .5 );
			}
		}
	}

	.main-navigation__menu-item--search{
		height: 100%;
		.site-search__input{
			color: $colour_background_dark;
			@include fontstack_medium;	
			@include rem( 'height', $height_menu );
		}
	}

	.main-navigation__menu-item--profile{
		background: $colour_menu_grey_light;
		.avatar{
			display: none;
		}
		.title a{
			color: $colour_background_dark;
		}
		.drop{
			background: $colour_menu_grey_light;
			color: $colour_background_dark;
			right: 0;
			left: auto;
		}
	}
	.main-navigation__menu-item--quickpost{		
		display: none;
		position: absolute;
		right: 0;
		@include rem( 'height', $height_menu );
		@include rem( 'width', $height_menu );
		.title{
			text-align: center;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	
	@include breakpoint( $breakpoint_palm_max ) {
		display: block;
		@include rem( 'line-height', 1.4 );
		@include rem( 'padding-top', .5 );
		@include rem( 'padding-bottom', .5 );
		height: auto;

		.main-navigation__menu-item{
			background: $colour_background_dark;
			border-bottom: 1px solid lighten( $colour_dark, 10% );
			@include rem( 'padding-left', 1 );
			@include rem( 'padding-right', 1 );
			@include rem( 'padding-top', .5 );
			@include rem( 'padding-bottom', .5 );
			.title{ 
				padding: 0;
			}
			.drop,
			&:nth-child( 2 ) .drop,
			&:nth-child( 3 ) .drop {
				@include rem( 'margin-top', .4 );
				background: transparent;
			}
		}
		.main-navigation__menu-item:nth-child( 2 ),
		.main-navigation__menu-item:nth-child( 3 ){
			background: $colour_background_dark;
		}
		
		.main-navigation__menu-item--dropdown{
			.drop{
				background: transparent;
				display: block;
				height: auto;
				padding: 0;
				position: relative;
				top: 0;
			}
			&.active,
			&:hover{
				.drop{
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}

		.main-navigation__menu-item--root{
			.drop{
				display: none;
			}
		}

		.main-navigation__menu-item--search{
			border-bottom: none;
			@include rem( 'height', $height_menu );
			left: 0;
			position: fixed;
			top: 0;		
			width: 100%;
			padding: 0;				
			&.main-navigation__menu-item--flexible{
				@include rem( 'padding-left', $height_menu );
				@include rem( 'padding-right', $height_menu );
			}
		}

		.main-navigation__menu-item--quickpost{
			@include rem( 'height', $height_menu );
			position: fixed;
			right: 0;
			top: 0;
			@include rem( 'width', $height_menu );
		}

		.main-navigation__menu-item--profile{
			border-bottom: none;
			.avatar{
				display: none;
			}
		}
	} //end breakpoint: $breakpoint_palm_max
}



//logged in menu styles
body.logged-in{
	.main-navigation{
		.main-navigation__menu-item--profile{
			@include breakpoint( $breakpoint_palm ) {
				background: $colour_yellow;
				@include rem( padding-right, $height_menu ); 
				.avatar{
					@include inline-block;
					max-height: 100%;
					vertical-align: top;
					width: auto;
				}
			}			
			.title{
				@include inline-block;
				vertical-align: top;
				@include breakpoint( $breakpoint_palm_max ) {
					a{
						color: $colour_background;
					}
				}
			}
			.drop{
				background: $colour_yellow;
				a{
					color: $colour_background_dark;
					&:hover{
						color: $colour_link;
					}
				}
			}
		}
		.main-navigation__menu-item--quickpost{
			display: block;
		}
	}
}

.site-search{
	width: 100%;
	.site-search__input{
		height: 100%;
		outline: none;
		border: none;
		background-color: #FFFFFF;
		padding: 0 1em;
		margin: 0;
		font-size: 1em;		
		width: 100%;
	}
	.twitter-typeahead{
		width: 100%;
		height: 100%;
		vertical-align: top;
		input{
			@include box-sizing( border-box );
			width: 100%;
			height: 100%;
			padding: 0 1em;
			margin: 0;
			border: none;
			outline: none;			
			font-size: 1em;		
		}
		.tt-hint{
			color: lighten( $colour_grey, 40% );
		}
		.tt-dropdown-menu{
			width: 100%;			
			background: $colour_white;
			[class^="tt-dataset-"]{
				padding: 0 1em;
				clear: both;
				overflow: hidden;
				h2{
					letter-spacing: 1px;	
					font-weight: 400;							
					color: lighten( $colour_grey, 50% );					
					float: left;
					line-height: 1.8em;
					width: 16%;
					height: 100%;
				}
				.tt-suggestions{
					float: left;
					width: 84%;
					.tt-suggestion{
						padding: 0 .5em;
						line-height: 1.8em;
						width: 100%;
						&:hover{
							background-color: lighten( $colour_grey, 30% );
							color: $colour_white;
						}
						p{
							margin-bottom: 0;
						}
					}
				}
				&:hover{
					background-color: lighten( $colour_grey, 50% );
					h2{
						color: $colour_white;
					}
				}
				margin: 0 0 2rem 0;
			}
		}
	}
}

.navigation-notifications{
	background: $colour_light;
	color: $colour_background_dark;
	@include rem( 'max-height', 10 );
}

.navigation-quickpost{
	background: $colour_blue;		
}