.notifications{
	.notifications-message{
		@include transition( opacity .5s ease-in-out );
		&.notifications-message__ambivalent{

		}
		&.notifications-message__positive{
			color: $colour_green;
		}
		&.notifications-message__negative{
			color: $colour_red;
		}
		&.hide{
			opacity: 0;
		}
	}
}