/**
 * 
 */
.col--page {
	@extend %grid__item;
	width: size_in_context(400, 1021);
}

.type-page {
	position: relative;
	width: size_in_context(738, 1021);

	.page--main {
		@extend %grid__item;
		position: relative;
		width: size_in_context(400, 738);
	}
	.page--aside {
		@extend %grid__item;
		position: relative;
		width: size_in_context(226, 738);
	}
}

.page--thumbnail {
	position: absolute;
	right: 0;
	top: $height_header;
	z-index: 0;
}