/**
 * Stream
 *
 * The posts and their container used
 * across Noticeboards & Sketchbooks
 */

.stream {}

/**
 * Stream Filters
 *
 * Appearing at the top of the posts these should
 * be styled as tabs.
 *
 * There are a couple of states that should be considered
 *
 *
 * :hover
 * .s-active
 */
.stream--filters {
	li {
		@extend %grid__item;
		width: auto;

		a {
			background: darken(#fff, 53);
			color: #fff;
			font-size: .8rem;
			@include fontstack_regular;
			display: inline-block;
			padding: $grid_padding * .5;

			&:hover {
				background-color: darken(#fff, 71);
			}

			&.s__active,
			&:active {
				background-color: #fff;
				color: darken(#fff, 71);
			}
		}
	}
}

.stream--article {
	border-top: 1px solid red;
	padding: 1.4rem 0;

	&:first-child {
		border-top: 0;
		padding-top: 0;
	}
	.article--header{
		@include rem( 'padding-bottom', 1.4 );
		img{
			@include rem( 'margin-bottom', .5 );
		}	
	}
	.article--meta{
		@include fontstack_light;
		@include font-size( .9 );
		@include rem('padding-right', 1.4 );
		.entry-date{
			display: block;
			@include rem( 'padding-bottom', 0.7 );
			.date{
				@include fontstack_medium;
			}
			.time{
				display: block;	
			}
		}
		.byline{
			.author{
				@include fontstack_medium;
			}
		}
	}
}