/**
 * Stream
 *
 * The posts and their container used
 * across Noticeboards & Sketchbooks
 */

.stream {

	/**
	 * Main container for stream content used
	 * on noticeboards and sketchbooks
	 */
	.col--stream {
		@extend .col;
	}

	@include breakpoint( $breakpoint_lap_only ) {
	
		overflow: hidden;

		.col--stream {
			float: left;
			width: 60%;
		}

		.col--side {
			float: right;
			width: 40%;
		}
	}

	@include breakpoint( $breakpoint_lap ) {

		display: -webkit-flex;
		display:         flex;
		-webkit-flex-flow: row wrap;
				flex-flow: row wrap;
				align-items: flex-start;
				align-content: flex-start;

		.col--stream {
			width: 100% - (22 * 2);
			-webkit-flex: 3 1 56%;
					flex: 3 1 56%;
			-webkit-order: 2;
					order: 2;
		}

		.col--side {
			-webkit-flex: 1 6 22%;
					flex: 1 6 22%;

			&.col--side__left {
				-webkit-order: 1;
						order: 1;
			}

			&.col--side__right {
				-webkit-order: 3;
						order: 3;
			}
		}
		
	}
}

/**
 * Stream Filters
 *
 * Appearing at the top of the posts these should
 * be styled as tabs.
 *
 * There are a couple of states that should be considered
 *
 *
 * :hover
 * .s-active
 */
.stream--filters {
	
	li {
		@extend .col;
		width: auto;

		a {
			background: darken(#fff, 53);
			color: #fff;
			font-size: .8rem;
			@include fontstack_regular;
			display: inline-block;
			padding: $grid_padding * .5;

			&:hover {
				background-color: darken(#fff, 71);
			}

			&.s__active,
			&:active {
				background-color: #fff;
				color: darken(#fff, 71);
			}
		}
	}
}

.stream--paging {
	a {
		padding-right: 1em;
	}
}