/**
 * Variables
 * 
 *
 * All variables and variable style mixins
 * for the theme should be here.
 *
 * Variable naming convention should make it obvious
 * what the nature of the value is.
 */

@mixin fontstack_regular {
	font-family: 'Theinhardt-Regular', Arial, "Liberation Sans", FreeSans, sans-serif;
}

@mixin fontstack_medium {
	font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin fontstack_bold {
	font-family: 'Theinhardt-Bold', Arial, "Liberation Sans", FreeSans, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin fontstack_light {
	font-family: 'Theinhardt-Light', Arial, "Liberation Sans", FreeSans, sans-serif;
	font-weight: normal;
}

@mixin fontstack_mono {
	font-family: monospace;
	font-weight: normal;
}

$breakpoint_palm: 30em;
$breakpoint_palm_max: max-width $breakpoint_palm;

$breakpoint_desk: 64em;
$breakpoint_desk_max: max-width $breakpoint_desk;

$colour_link: #EF2735;

$colour_light: #CBCCCB;
$colour_dark: #272726;

$colour_background: #F2F1F0;
$colour_background_dark: $colour_dark;

$colour_black: #000000;
$colour_grey: #232322;
$colour_white: #ffffff;
$colour_magenta: #b4083f;
$colour_blue: #0932c4;
$colour_yellow: #ffff00;
$colour_green: #27874b;
$colour_red: #f4000f;
$colour_bluegrey: #252437;

$colour_menu_grey_mid: #464648;
$colour_menu_grey_mid_light: #76787c;
$colour_menu_grey_light: #96989c;

/**
 * Emotive Colours
 *
 * In an effort to seperate our tone from 
 * changable stylistic implementations.
 *
 * ie. $colour_error > $colour_red;
 */

$colour_error: $colour_red;
$colour_ok: $colour_green;
$colour_processing: $colour_yellow;


$height_header: 11.3em;
$height_menu: 2.6;


$number_of_columns: 18;

$size_grid: 4.1rem; // 58 / 16
$size_grid_width: 73.8rem; // $number_of_columns * $size_grid;
$size_grid_percentage: 100% / $number_of_columns;

$grid_padding: 1.4rem;
