/**
 *
 * 
 */

.widget {
	border-bottom: 1px solid darken( $colour_white, 20% );
	border-bottom: 1px solid rgba(255,255,255,0.7);
	@include fontstack_light;
	@include font-size( .9 );	
	margin-bottom: .7em;
	padding-bottom: .7em;	
	.sidebar.col--side__right &{
		border-bottom: 1px solid $colour_black;
		border-bottom: 1px solid rgba( 0, 0, 0, 0.7 );
		&:last-child{
			border-bottom: none;
		}
	}
	&:last-child{
		border-bottom: none;
	}
	.widget--title{
		@include fontstack_medium;
		margin-bottom: .5em;
		@include font-size( 1 );
	}
	p{
		@include font-size( .9 );
	}
	
	a:hover{
		text-decoration: underline;
	}

	/**
	 * Widgets with listings(Categories,Pages, Navigation)
	 * often add hierarchy to the lists stylable via following class
	 */
	.children {
		padding-left: 1em;
	}

	table{
		width: 100%;
	}
}


/**
 * 
 */
.textwidget{
	@extend .wysiwyg;
	@include font-size( .9 );
}

.widget_nav_menu {
	@extend .listing__navigation;
}

.widget_search{
	label{
		display: none;
	}
}