@import "compass/css3";

#login h1 a {
	background: url('../images/logo.png') center center no-repeat;
	@include background-size(contain);
	height: 5em;
	width: 5em;
	margin: 0 auto 2em;
}

.login form {
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		-ms-box-shadow: none;
			box-shadow: none;
}

.login form input[type="text|password"] {
	background: #fff;
}

#login #nav a,
#login #backtoblog a {
	color: #444 !important;
}


/**
 * Github Dashboard Widget
 */

#socd_commit_widget {
	.inside {
		margin: 0;
	}
}

.github-widget {

	ul {
		margin: 0;
	}
	li {
		border-bottom: 1px solid #DFDFDF;
		margin: 0 -10px;
		padding: 10px;
		overflow: hidden;

		&:nth-child(even) {
			background-color: #FCFCFC;
		}
	
		.avatar {
			float: left;
			margin: 0 10px 0 0;
		}

		.github-commit-wrap {
			overflow: hidden;
		}
	}
}