/* 
# School of Communication Design
### Base
*/
@import 'libs/grids';
@import 'breakpoint';
@import 'utils';
@import 'vars';

@import 'compass/reset';
@import 'compass/css3';
@import 'formalize'; // Edited Version

@import 'layout';

@import 'modules';

// Build Components
@import "build";

/*
## Headings

```
<h1 class="h1">Heading One</h1>
<h2 class="h2">Heading Two</h2>
<h3 class="h3">Heading Three</h3>
<h4 class="h4">Heading Four</h4>
<h5 class="h5">Heading Five</h5>
<h6 class="h6">Heading Six</h6>
```
*/

// Base styles
* {
	@include box-sizing(border-box);
}

html, body{
	@include fontstack_regular;
	line-height: 1.16;
	margin: 0 auto;
	height: 100%;
	background-color: $colour_background;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
}


/* Typography */

.h1 {
	@include fontstack_bold;
	@include font-size(1.85);
	margin: .3em auto 0;
	border-top: .1rem solid;
	display: inline-block;
	padding: .2em .4em 0;
	line-height: 1;
	text-align: center;
}

.h2 {
	@include fontstack_bold;
	@include font-size(1.125);
	margin: 0;
}
	.h2--ruled {
		border-top: 2px solid rgba(255,255,255,0.5);
		padding: .75em 0;
	}


.h3 {
	@include fontstack_light;
	@include font-size(1.125);
}
	.h3--ruled {
		border-top: 1px solid rgba(255,255,255,0.5);
		padding: .75em 0;
	}

.h4 {
	@include fontstack_bold;
	@include font-size(.75);
	margin-bottom: 1em;
}
.h5 {
		
}
.h6 {
	
}

p {
	@include font-size(1);
	margin: 0 0 1em;
}

a {
	color: $colour_link;
	text-decoration: none;
	
	&:after {
		content:' ';
		display: inline-block;
		width: .75em;
		height: 1em;
		position: relative;
		top: .3em;
		background: top left transparent url('../svg/external.svg') no-repeat;
		background-size: .65em;
		margin-left: .1em;
	}

	/* Internal links should not have outbound link graphic */
	&[href*="socd.loc"]:after,
	&[href*="socd.io"]:after,
	&[href*="#"]:after,
	&[href*="gdnm.org"]:after {
		display: none;
	}

	&[href*="#"]:after {
		text-decoration: none;
	}

}

pre,
code {
	@include fontstack_mono;
	white-space: pre-wrap;
}

.site--title {
	a {
		color: inherit;
	}
	
	@include respond-min($breakpoint_palm) {
		min-width: $size_grid * 8;
	}
}

.blog--title {
	text-transform: capitalize;
}

/**
 * Form Elements
 */

input {
	border: 2px solid $colour_dark;
	background: red;
}

/*
 ## Lists
```
<ul>
	<li>List item</li>
	<li>Another list item</li>
	<li>Another list item, with sub items (unordered)
		<ul>
			<li>Sub list item</li>
			<li>Another sub list item</li>
		</ul>
	</li>
	<li>List item with sub items (ordered)
		<ol>
			<li>Sub item A</li>
			<li>Sub item B</li>
		</ol>
	</li>
</ul>
```

```
<ol>
	<li>List item</li>
	<li>Another list item</li>
	<li>Another list item, with sub items (unordered)
		<ul>
			<li>Sub list item</li>
			<li>Another sub list item</li>
		</ul>
	</li>
	<li>List item with sub items (ordered)
		<ol>
			<li>Sub item A</li>
			<li>Sub item B</li>
		</ol>
	</li>
</ol>
```

*/
.ol,
.wysiwyg ol,
.ul,
.wysiwyg ul {
	list-style: none;
	padding: 0;
	line-height: 1.4;
	
	li {
		position: relative;
		padding-left: 1.2em;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
		}

		ol li:before {
			margin-right: .5em;
		}
	}

	ol, ul {
		padding-left: 1em;
	}
}

.ul,
.wysiwyg ul {
	li:before {
		content: "\2014  ";
	}
}

.ol,
.wysiwyg ol {
	counter-reset: li;

	& > li:before {
		content: counter(li);
		counter-increment: li;
		display: inline-block;
		margin-right: 1em;
		@include fontstack_bold;
	}

	ol {
		padding-left: 1em;
	}
}

/**
 * Used on navigation listing
 */
.listing__navigation {

	li:before {
		content: "> " !important;
	}

	a {
		color: inherit;
	}
}

/*
### Form Elements

#### Buttons

```
<div>
	<a href="#" class="btn">Default Button</a>
	<a href="#" class="btn btn-primary">Primary Button</a>
	<a href="#" class="btn btn-info">Info Button</a>
	<a href="#" class="btn btn-danger">Danger Button</a>
	<a href="#" class="btn btn-success">Success Button</a>			
	<a href="#" class="btn btn-warning">Warning Button</a>			
	<a href="#" class="btn btn-inverse">Inverse Button</a>
	<a href="#" class="btn disabled">Disabled Button</a>
</div>
```

 */

input[type="submit"],
.btn {
	background: none;
	@include border-radius(0);
	border: 1px solid $colour_light;
	color: $colour_dark;
	display: inline-block;
	@include fontstack_regular;
	@include font-size(1);
	letter-spacing: 0;
	margin: .25em .25em .25em 0;
	padding: .85em 2em;
	text-decoration: none;
	text-transform: capitalize;
	@include text-shadow(none);

	
	@include transition(all .15s ease-in-out);

	&:hover {
		background: #fff;
		border-color: $colour_dark;
		color: $colour_dark;
	}

	&:after {
		display: none;
	}

	&.disabled,
	&[disabled] {
		background: $colour_light;
		color: darken($colour_light, 15);
		&:hover {
			border-color: $colour_light;
		}
	}
}

	.btn-primary {
		background: $colour_light;
	}

	input[type="submit"],
	.btn-submit {
		background: $colour_dark;
		color: #fff;
	}


	.input-labelled {
		position: relative;
		
		label {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			padding: .95em 1.2em;
		}

		input {
			position: relative;
			z-index: 2;
			background-color: transparent;

			&:focus {
				background-color: #fff;
			}
		}
	}

.input-labelled {
	position: relative;
	
	label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		padding: .95em 1.2em;
	}

	input {
		position: relative;
		z-index: 2;
		background-color: transparent;

		&:focus {
			background-color: #fff;
		}
	}
}

@import "component";
@import "widget";
@import "colours";
@import "main-navigation";

@import "blogs";
@import "stream";
@import "post";
@import "comments";
@import "page";

@import "homepage";

//states
@import "states";

// Misc
@import "helpers";
