.activity--wrapper{
	position: relative;
	@include rem( 'margin-left', -.7 );
	@include rem( 'margin-right', -.7 );
	@include breakpoint( $breakpoint_palm ){
		@include rem( 'margin-left', -1.4 );
		@include rem( 'margin-right', -1.4 );
	}	
}

	.activity--wrapper .notifications-message{	
		float: right;
	}
	
	.activities--header{
		border-top: 1px solid $colour_red;
		.h2{
			background: $colour_red;
			color: $colour_white;
			float: left;
			margin-bottom: 2em;
			@include fontstack_regular;
			@include font-size( .8 );
			@include inline-block;
			@include rem( 'padding', .5 );
		}
	}
	
	.activity--wrapper form{
		clear: both;
		overflow-x: auto;
		background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(left, #c3c3c5, rgba(175, 175, 177, 0)), linear-gradient(right, #c3c3c5, rgba(175, 175, 177, 0));
		background-position: 0 0, 100% 0, 0 0, 100% 0;
		background-repeat: no-repeat;
		background-color: white;
		background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
		background-attachment: local, local, scroll, scroll;
	}

		#activities--table{
			clear: both;
			
			td, th{			
				position: relative;				
				vertical-align: middle;
				border: 1px solid $colour_light;
				&:first-child{
					border-left: none;
				}
				&:last-child{
					border-right: none;
				}
			}
			
			td{
				min-width: 160px;
				&:hover{
					background: $colour_light;
				}
			}
			
			tr{
				&:hover{					
					background: $colour_background;
				}			
				&.activities--places:hover{
					th{
						background: transparent;
					}
				}
			}			
		}
	
		.activities--title{
			@include fontstack_medium;
			display: block;
			padding: .7em;
		}
			.activities--title__col{
			
			}
			.activities--title__row{
			
			}

		#activities--table .activities--break{
			&:hover{
				background: transparent;
			}
			td{				
				color: $colour_light;
				text-align: center;
				&:hover{
					background-color: transparent;
				}
			}
		}
			.activities--break-time{
				display: block;
				padding: .7em;
			}

		.activities--action{
			width: 100%;
			height: 100%;
			padding: .7em;
			display: block;
			position: relative;
			overflow: hidden;
			&:after{
				@include fontstack_dashicons;
				@include rem( 'line-height', 2.7 );
				@include transition( top .15s ease-out );
				position: absolute;
				text-align: center;
				z-index: 1;
				top: 100%;
				left: -2px;
				width: 100%;
				height: 100%;
				content: '-';
				display: block !important;
				font-size: 1.2em;
				background: $colour_blue;
				color: $colour_white;
			}
			&:hover:after{
				top: 0;
			}
		}
			.activities--action__cancel{
				&:after{	
					background: $colour_red;
					content: '\f158';
				}
			}
			.activities--action__book{
				&:after{	
					background: $colour_grey;
					content: '\f147';
				}
			}
		
		// the dash, if you can't book a slot
		.activities--booked-by{
			padding: .7em;
		}
		.activities--slot-unavailable{
			padding: .7em;	
		}
		
		.activities--participants{
			padding: .7em;
			white-space: nowrap;
			li{
				@include inline-block;
				&:after{
					content: ',\00a0';
				}
				&:last-child:after{
					content: '.';
				}
			}
		}

		.activities--participants__no-one-else{
			padding: .7em;
			color: $colour_grey;			
		}
