

/**
 * Footer
 *
 * Global
 */

.footer {
	background: $colour_background_dark;
	color: #fff;
	position: relative;
	z-index: 1;
	padding: $grid_padding;

	li {
		font-size: .75rem;
	}

	@include breakpoint($breakpoint_palm) {
		margin-top: $grid_padding * 2;
		padding: 1rem;
	}
}

	.footer--menu {
		margin: .5rem 0 1rem 0;
		
		@include breakpoint($breakpoint_palm) {
			@include column-count(3);
		} 

		a {
			color: #fff;
			text-decoration: none;
			&:after{
				display: none; //remove external link graphics
			}
		}
	}