.listing-filter{

}
	.listing-filter--section{
		margin-bottom: 1em;
		h2{
			@include fontstack_bold;
		}
	}
		.section-options{
			li{
				position: relative;				
				a.active{
					text-decoration: underline;
				}
				.clear{
					display: none;
					height: 1em;
					line-height: 1em;
					position: absolute;
					right: 0;
					text-align: center;
					top: 3px;
					width: 1em;
					&:hover{
						color: $colour_link;
					}
				}
				a.active + .clear{
					display: block;
				}

			}
		}