/**
 *
 * Profile Listings
 *
 * Used on the staff and student directories
 * 
 */

.listing__profiles {
	@include breakpoint( $breakpoint_palm ) {
		padding-right: $grid_padding;
	}
}

	.listing--profile {
		padding: $grid_padding 0 $grid_padding*.5 $grid_padding;
		position: relative;

		&:before {
			border-top: 1px solid $colour_dark;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: $grid_padding;
			right: 0;
		}

		@include breakpoint( $breakpoint_palm_max ) {
			padding: $grid_padding;

			&:before {
				right: $grid_padding;
			}
		
			.thumbnail {
				float: left;
			}

			.profile--info {
				padding-left: $grid_padding;

				.name {
					margin-top: 0;
				}
			}
		}

		.name {
			@extend .h4;
			margin: $grid_padding * .5 0 0;
		}

		.role {
			margin-bottom: $grid_padding * .5;
		}

		.year {
			position: absolute;
			top: $grid_padding;
			right: 0;
		}
	}

	.profile__student {
		.avatar {
			width: 60px;
			height: 60px;
		}

		.name {
			margin-bottom: .5em;
		}
	}