.twitter-typeahead{
	@include rem( 'height', $height_menu );
	line-height: 1.4;
	vertical-align: top;
	width: 100%;
	a{
		color: $colour_black;
		line-height: 1.4;
		&:hover{
			color: $colour_link;
		}
	}
	input{
		@include box-sizing( border-box );
		width: 100%;
		height: 100%;
		padding: 0 1em;
		margin: 0;
		border: none;
		outline: none;			
		font-size: 1em;		
	}
	.tt-hint{
		color: lighten( $colour_black, 40% );
	}
	.tt-dropdown-menu{
		width: 100%;			
		background: $colour_white;
		&>div,
		[class^="tt-dataset-"]{
			border-top: 1px solid $colour_background;
			clear: both;				
			overflow: hidden;
			@include rem('padding-bottom', .5 );
			@include rem('padding-left', 1 );
			@include rem('padding-right', 1 );
			@include rem('padding-top', .5 );
			&:first-child{
				border-top: none;
			}
			.tt-suggestions-title{
				color: $colour_black;
				float: left;
				@include fontstack_medium;
				height: 100%;	
				line-height: 1.4;
				padding: .3em 0;
				text-transform: capitalize;
				width: 16%;
				h2{
					white-space: normal;	
				}
			}
			.tt-suggestions{
				float: left;
				width: 84%;	
				.tt-suggestion{
					padding: .3em .5em;
					line-height: 1.4;
					width: 100%;
					p{
						margin-bottom: 0;
					}
					&:hover,
					&:hover a,
					&.tt-is-under-cursor,
					&.tt-is-under-cursor a{
						color: $colour_link;
					}
				}
			}				
			&:hover{
				.tt-suggestions-title{
					color: $colour_link;
				}
			}
		}
	}
}