<form action="socd_post" method="post" enctype="multipart/form-data">
	<nav class="gw cell quickpost--config">
		<div class="col one-sixth">
			<select name="blog_id" class="quickpost--blog-select">
				{{# user_blogs }}
					<option value="{{ id }}">{{ title }}</option>
				{{/ user_blogs }}
			</select>
		</div><!--
	 	{{# post_formats}}
 		 --><div class="col one-sixth"> 		 		
 		 		<input type="radio" value="{{ slug }}" name="post_format" id="post_format_{{ slug }}" checked="{{ isDefault }}">
				<label for="post_format_{{ slug }}" class="quickpost--type-select quickpost--type-select__{{ slug }}">
					{{ slug }}	
				</label>
			</div><!--
		{{/ post_formats}}
	 -->
	</nav>
	<article class="cell ">
		<fieldset class="variable-fields">
			
		</fieldset>
		<fieldset class="taxonomies">
					
		</fieldset>
		<fieldset class="submission">
			<div class="field gw">
				<div class="col five-sixths">
					&nbsp;
				</div><!--
			 --><div class="col one-sixth">
					<input type="submit" value="Post">
				</div>
			</div>
		</fieldset>
	</article>
</form>