@charset "UTF-8";
/* 
# School of Communication Design
### Base
*/
/*------------------------------------*\ $CSSWIZARDRY-GRIDS via https://github.com/csswizardry/csswizardry-grids
\*------------------------------------*/
/** CONTENTS INTRODUCTION.........How the grid system works. VARIABLES............Your settings. MIXINS...............Library mixins. GRID SETUP...........Build the grid structure. WIDTHS...............Build our responsive widths around our breakpoints. PUSH.................Push classes. PULL.................Pull classes. */
/*------------------------------------*\ $INTRODUCTION
\*------------------------------------*/
/** csswizardry grids provides you with widths to suit a number of breakpoints designed around devices of a size you specify. Out of the box, csswizardry grids caters to the following types of device:  palm     --  palm-based devices, like phones and small tablets lap      --  lap-based devices, like iPads or laptops portable --  all of the above desk     --  stationary devices, like desktop computers regular  --  any/all types of device  These namespaces are then used in the library to give you the ability to manipulate your layouts based around them, for example:  <div class="grid__item  one-whole  lap--one-half  desk--one-third">  This would give you a grid item which is 100% width unless it is on a lap device, at which point it become 50% wide, or it is on a desktop device, at which point it becomes 33.333% width.  csswizardry grids also has push and pull classes which allow you to nudge grid items left and right by a defined amount. These follow the same naming convention as above, but are prepended by either `push--` or `pull--`, for example:  `class="grid__item  one-half  push--one-half"`  This would give you a grid item which is 50% width and pushed over to the right by 50%.  All classes in csswizardry grids follow this patten, so you should fairly quickly be able to piece together any combinations you can imagine, for example:  `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`  `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`  `class="   palm--one-third  desk--five-twelfths"` */
/*------------------------------------*\ $VARIABLES
\*------------------------------------*/
/** If you are building a non-responsive site but would still like to use csswizardry-grids, set this to ‘false’: */
/** Is this build mobile first? Setting to ‘true’ means that all grids will be 100% width if you do not apply a more specific class to them. */
/** Set the spacing between your grid items. */
/** Would you like Sass’ silent classes, or regular CSS classes? */
/** Would you like push and pull classes enabled? */
/** Using `inline-block` means that the grid items need their whitespace removing in order for them to work correctly. Set the following to true if you are going to achieve this by manually removing/commenting out any whitespace in your HTML yourself.  Setting this to false invokes a hack which cannot always be guaranteed, please see the following for more detail:  github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688 github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371 */
/** Define your breakpoints. The first value is the prefix that shall be used for your classes (e.g. `.palm--one-half`), the second value is the media query that the breakpoint fires at. */
/** Define which namespaced breakpoints you would like to generate for each of widths, push and pull. This is handy if you only need pull on, say, desk, or you only need a new width breakpoint at mobile sizes. It allows you to only compile as much CSS as you need. All are turned on by default, but you can add and remove breakpoints at will.  Push and pull shall only be used if `$push` and/or `$pull` and `$responsive` have been set to ‘true’. */
/** You do not need to edit anything from this line onward; csswizardry-grids is good to go. Happy griddin’! */
/*------------------------------------*\ $MIXINS
\*------------------------------------*/
/** These mixins are for the library to use only, you should not need to modify them at all.  Enclose a block of code with a media query as named in `$breakpoints`. */
/** Drop relative positioning into silent classes which can’t take advantage of the `[class*="push--"]` and `[class*="pull--"]` selectors. */
/*------------------------------------*\ $GRID SETUP
\*------------------------------------*/
/** 1. Allow the grid system to be used on lists. 2. Remove any margins and paddings that might affect the grid system. 3. Apply a negative `margin-left` to negate the columns’ gutters. */
.gw { list-style: none; /* [1] */ margin: 0; /* [2] */ padding: 0; /* [2] */ margin-left: 0; /* [3] */ }

/** 1. Cause columns to stack side-by-side. 2. Space columns apart. 3. Align columns to the tops of each other. 4. Full-width unless told to behave otherwise. 5. Required to combine fluid widths and fixed gutters. */
.col, .col-half, .col-third, .col-one-third, .col-two-thirds, .col-one-quarter, .col-three-quarters, .col-sixth, .col-one-sixth, .comment.depth-2 .comment-body--avatar, .col-five-sixths, .col--side, .col--stream, .stream--filters li, .col--page, .type-page .page--main, .mu_register .page--main, .type-page .page--aside, .mu_register .page--aside { display: inline-block; /* [1] */ padding-left: 0; /* [2] */ vertical-align: top; /* [3] */ width: 100%; /* [4] */ -webkit-box-sizing: border-box; /* [5] */ -moz-box-sizing: border-box; /* [5] */ box-sizing: border-box; /* [5] */ }

/** Reversed grids allow you to structure your source in the opposite order to how your rendered layout will appear. Extends `.grid`. */
.gw--rtl { direction: rtl; text-align: left; }
.gw--rtl > .col, .gw--rtl > .col-half, .gw--rtl > .col-third, .gw--rtl > .col-one-third, .gw--rtl > .col-two-thirds, .gw--rtl > .col-one-quarter, .gw--rtl > .col-three-quarters, .gw--rtl > .col-sixth, .gw--rtl > .col-one-sixth, .comment.depth-2 .gw--rtl > .comment-body--avatar, .gw--rtl > .col-five-sixths, .gw--rtl > .col--side, .gw--rtl > .col--stream, .stream--filters .gw--rtl > li, .gw--rtl > .col--page, .type-page .gw--rtl > .page--main, .mu_register .gw--rtl > .page--main, .type-page .gw--rtl > .page--aside, .mu_register .gw--rtl > .page--aside { direction: ltr; text-align: left; }

/** Gutterless grids have all the properties of regular grids, minus any spacing. Extends `.grid`. */
/** Align the entire grid to the right. Extends `.grid`. */
/** Centered grids align grid items centrally without needing to use push or pull classes. Extends `.grid`. */
/** Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends `.grid`. */
/** Create grids with narrower gutters. Extends `.grid`. */
/** Create grids with wider gutters. Extends `.grid`. */
/*------------------------------------*\ $WIDTHS
\*------------------------------------*/
/** Create our width classes, prefixed by the specified namespace. */
/** Our regular, non-responsive width classes. */
/** Whole */
/** Halves */
/** Thirds */
/** Quarters */
/** Fifths */
/** Sixths */
/** Eighths */
/** Tenths */
/** Twelfths */
/** Our responsive classes, if we have enabled them. */
@media only screen and (max-width: 480px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 481px) and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  .col-one-quarter { width: 25%; }
  /** Fifths */
  .col-one-fifth { width: 20%; }
  .col-four-fifths { width: 80%; }
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 1024px) { /** Whole */
  /** Halves */
  .col-half { width: 50%; }
  /** Thirds */
  .col-third, .col-one-third { width: 33.333%; }
  .col-two-thirds { width: 66.666%; }
  /** Quarters */
  .col-one-quarter { width: 25%; }
  .col-three-quarters { width: 75%; }
  /** Fifths */
  .col-one-fifth { width: 20%; }
  .col-four-fifths { width: 80%; }
  /** Sixths */
  .col-sixth, .col-one-sixth, .comment.depth-2 .comment-body--avatar { width: 16.666%; }
  .col-five-sixths { width: 83.333%; }
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
/*------------------------------------*\ $PUSH
\*------------------------------------*/
/** Push classes, to move grid items over to the right by certain amounts. */
/** Not a particularly great selector, but the DRYest way to do things. */
[class*="push--"] { position: relative; }

/** Whole */
/** Halves */
/** Thirds */
/** Quarters */
/** Fifths */
/** Sixths */
/** Eighths */
/** Tenths */
/** Twelfths */
@media only screen and (max-width: 480px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 481px) and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 1024px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
/*------------------------------------*\ $PULL
\*------------------------------------*/
/** Pull classes, to move grid items back to the left by certain amounts. */
/** Not a particularly great selector, but the DRYest way to do things. */
[class*="pull--"] { position: relative; }

/** Whole */
/** Halves */
/** Thirds */
/** Quarters */
/** Fifths */
/** Sixths */
/** Eighths */
/** Tenths */
/** Twelfths */
@media only screen and (max-width: 480px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 481px) and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (max-width: 1023px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
@media only screen and (min-width: 1024px) { /** Whole */
  /** Halves */
  /** Thirds */
  /** Quarters */
  /** Fifths */
  /** Sixths */
  /** Eighths */
  /** Tenths */
  /** Twelfths */ }
/** Takes a value provided as decimal to be used in declaring the font-size in rem units. Then converted back into a fallback px size for browsers that don't support the unit.  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.input_tiny { width: 50px; }

.input_small { width: 100px; }

.input_medium { width: 150px; }

.input_large { width: 200px; }

.input_xlarge { width: 250px; }

.input_xxlarge { width: 300px; }

.input_full, .mu_register input { width: 100%; }

.input_full_wrap { display: block; padding-right: 8px; }

input[type="search"]::-webkit-search-decoration { display: none; }

input:invalid, button:invalid, a.button:invalid, select:invalid, textarea:invalid { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
input:focus, button:focus, a.button:focus, select:focus, textarea:focus { -webkit-box-shadow: black 0 0 0; -moz-box-shadow: black 0 0 0; box-shadow: black 0 0 0; z-index: 1; }

input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

button, a.button, .button a, input[type="reset"], input[type="submit"], input[type="button"] { -webkit-appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-image: none; background-color: #cbcccb; border: 1px solid; border-color: #dddddd #bbbbbb #999999; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; cursor: pointer; color: #f2f1f0; display: inline-block; font-family: 'Theinhardt-Regular', Arial, "Liberation Sans", FreeSans, sans-serif; font-size: 10px; font-size: 1rem; letter-spacing: 0; outline: 0; overflow: visible; line-height: 16px; line-height: 1.6rem; padding-bottom: 1px; padding-bottom: 0.1rem; padding-left: 8px; padding-left: 0.8rem; padding-right: 8px; padding-right: 0.8rem; padding-top: 1px; padding-top: 0.1rem; position: relative; text-align: center; text-shadow: none; text-decoration: none; vertical-align: top; width: auto; *padding-top: 2px; *padding-bottom: 0; }
button:hover, a.button:hover, .button a:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover { background-image: none; background-color: #e5e5e5; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-decoration: none; }
button:active, a.button:active, .button a:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { border-bottom-width: 0; border-top-color: #b1b3b1; border-top-style: solid; border-top-width: 1.5px; border-top-width: 0.15rem; bottom: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; line-height: 14.5px; line-height: 1.45rem; }
button.loading:after, a.button.loading:after, .button a.loading:after, input[type="reset"].loading:after, input[type="submit"].loading:after, input[type="button"].loading:after { content: ' LOADING '; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: red; text-align: center; }
button.disabled, button[disabled], a.button.disabled, a.button[disabled], .button a.disabled, .button a[disabled], input[type="reset"].disabled, input[type="reset"][disabled], input[type="submit"].disabled, input[type="submit"][disabled], input[type="button"].disabled, input[type="button"][disabled] { background: #cbcccb; color: #a4a6a4; }
button.disabled:hover, button[disabled]:hover, a.button.disabled:hover, a.button[disabled]:hover, .button a.disabled:hover, .button a[disabled]:hover, input[type="reset"].disabled:hover, input[type="reset"][disabled]:hover, input[type="submit"].disabled:hover, input[type="submit"][disabled]:hover, input[type="button"].disabled:hover, input[type="button"][disabled]:hover { border-color: #cbcccb; }
button::-moz-focus-inner, a.button::-moz-focus-inner, .button a::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border: 0; padding: 0; }

a.button { *padding-bottom: 3px; }

button { *padding-top: 1px; *padding-bottom: 1px; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-appearance: none; background-color: white; border: 0 solid #fff; color: black; outline: 0; margin: 0 0 .5em; padding: .75em 1em; text-align: left; font-family: 'Theinhardt-Regular', Arial, "Liberation Sans", FreeSans, sans-serif; font-size: 10px; font-size: 1rem; -webkit-transition: 0.2s ease border; -moz-transition: 0.2s ease border; -o-transition: 0.2s ease border; transition: 0.2s ease border; vertical-align: top; *padding-top: 2px; *padding-bottom: 1px; *height: auto; }
textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] { background-color: #cbcccb; border-color: #cbcccb; }
textarea:focus, select:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus { -webkit-box-shadow: inset 0.462rem -0.1em 0 #b7b1ac; -moz-box-shadow: inset 0.462rem -0.1em 0 #b7b1ac; box-shadow: inset 0.462rem -0.1em 0 #b7b1ac; }

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled], a.button_disabled { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select: none; color: #888888; cursor: default; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #888888; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #888888; }

input.placeholder_text, textarea.placeholder_text { color: #888888; }

textarea, select[size], select[multiple] { height: auto; }

select[size="0"], select[size="1"] { height: 1.8em; *height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) { select[size], select[multiple], select[multiple][size] { background-image: none; padding-right: 3px; }
  select, select[size="0"], select[size="1"] { background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==); background-repeat: no-repeat; background-position: right center; padding-right: 20px; }
  ::-webkit-validation-bubble-message { -webkit-box-shadow: none; box-shadow: none; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black)); border: 0; color: white; font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif; overflow: hidden; padding: 15px 15px 17px; text-shadow: black 0 0 1px; min-height: 16px; }
  ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow { -webkit-box-shadow: none; box-shadow: none; background: #666666; border-color: #666666; } }
textarea { min-height: 40px; overflow: auto; resize: vertical; width: 100%; }

optgroup { color: black; font-style: normal; font-weight: normal; font-family: Arial, "Liberation Sans", FreeSans, sans-serif; }
optgroup::-moz-focus-inner { border: 0; padding: 0; }

.ie6_button, * html button, * html a.button { background: #dddddd repeat-x; border: 1px solid; border-color: #dddddd #bbbbbb #999999; cursor: pointer; color: #333333; font: bold 12px / 1.2 Arial, sans-serif; padding: 2px 10px 0; text-decoration: none; overflow: visible; vertical-align: top; width: auto; }

* html a.button { position: relative; top: 3px; padding-bottom: 2px; }

* html button { padding-top: 1px; padding-bottom: 1px; }

.ie6_input, * html textarea, * html select { background: white; border: 1px solid; border-color: #848484 #c1c1c1 #e1e1e1; color: black; padding: 2px 3px 1px; font-size: 13px; font-family: Arial, sans-serif; vertical-align: top; }

* html select { margin-top: 1px; }

.placeholder_text, .ie6_input_disabled, .ie6_button_disabled { color: #888888; }

.ie6_input_disabled { background: #eeeeee; }

.button { height: 16px; height: 1.6rem; position: relative; }

.btn-primary { background: #cbcccb; }

.input-labelled { position: relative; }
.input-labelled label { position: absolute; top: 0; left: 0; z-index: 1; padding: .95em 1.2em; }
.input-labelled input { position: relative; z-index: 2; background-color: transparent; }
.input-labelled input:focus { background-color: #fff; }

.input-labelled { position: relative; }
.input-labelled label { position: absolute; top: 0; left: 0; z-index: 1; padding: .95em 1.2em; }
.input-labelled input { position: relative; z-index: 2; background-color: transparent; }
.input-labelled input:focus { background-color: #fff; }

/*------------------------------------*\ $Layouts
\*------------------------------------*/
/** Built off of the excellent CSS Wizardy grid system [libs/_grids.scss] as we're only using a small subsection of it's functionality we use SASS silent classes to pull through required behaviour.  */
/** Container for the site's content, there may be multiple instances on this on the page as it's main use is for centering content */
.site-wrap { margin: 0 auto; max-width: 63rem; min-height: 100%; }

/** Single use page container for the main bulk of the content, this forces the footer to appear at the bottom of the page */
.site-main { min-height: 100%; }

/** Off grid units  Used to handle components that aren't specifically addressed with the main columns. */
/** Small sidebar  */
.col--side { width: 22%; }

/** Main container for stream content used on noticeboards and sketchbooks */
.col--stream { width: 56%; }

/** Main content block, used on the single page template. */
.col--main { width: 39%; }

.cell { padding: 1.4rem; text-align: left; }

/* Push */
.push--col-one-sixth { margin-left: 16.66667%; }

/* Pull */
/** Components related exclusively to the site build, so if you've noticed some really weird colours then this is likely the file to check */
.populate { position: fixed; bottom: 1em; right: 1em; width: 33%; display: none; }
.populate form { background: #fff; border: #272726 1px solid; padding: 1rem; }
.populate select { display: block; width: 100%; }

/** Debugging */
x*[class*="col"] { outline: 1px solid red; }

.cell { xbackground: rgba(0, 255, 0, 0.2); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { font-family: 'Theinhardt-Regular', Arial, "Liberation Sans", FreeSans, sans-serif; line-height: 1.26; margin: 0 auto; height: 100%; background-color: #f2f1f0; }

img { max-width: 100%; height: auto; display: block; line-height: 0; }

/* Typography */
.h1 { font-family: 'Theinhardt-Bold', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; font-size: 18.5px; font-size: 1.85rem; margin: .3em auto 0; border-top: .1rem solid; display: inline-block; padding: .35em .4em 0; line-height: 1; }

.h2, .mu_register h2, .wysiwyg h1 { font-family: 'Theinhardt-Bold', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; font-size: 11.25px; font-size: 1.125rem; margin: 0 0 .4em; }

.h2--ruled { border-top: 2px solid rgba(255, 255, 255, 0.5); padding: .75em 0; display: block; }

.wysiwyg h2 { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; font-size: 11.25px; font-size: 1.125rem; }

.h3, .wysiwyg h3 { font-family: 'Theinhardt-Light', Arial, "Liberation Sans", FreeSans, sans-serif; font-weight: normal; font-size: 11.25px; font-size: 1.125rem; }

.h3--ruled { border-top: 1px solid rgba(255, 255, 255, 0.5); padding: .75em 0; }

.h4, .profile .name, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { font-family: 'Theinhardt-Bold', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; margin-bottom: 1em; }

.wysiwyg h4, .wysiwyg h5, .wysiwyg h6 { margin-bottom: 0; }

p { font-size: 10px; font-size: 1rem; margin: 0 0 1em; }
p:last-child { margin: 0; }

a { color: #ef2735; text-decoration: none; /* Internal links should not have outbound link graphic */ }
a:after { content: ' '; display: inline-block; width: .75em; height: 1em; position: relative; top: .3em; background: top left transparent url("../svg/external.svg") no-repeat; background-size: .65em; margin-left: .1em; }
a[href*="socd.loc"]:after, a[href*="socd.io"]:after, a[href*="#"]:after, a[href^="/"]:after, a[href*="gdnm.org"]:after { display: none; }
a[href*="#"]:after { text-decoration: none; }

pre, code, kbd, var { font-family: monospace; font-weight: normal; white-space: pre-wrap; }

cite, em { font-style: italic; }

strong { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; }

.site--title a { color: inherit; }
@media screen and (min-width: 34em) { .site--title { min-width: 28rem; } }

.blog--title { text-transform: capitalize; }

.wysiwyg { font-family: 'Theinhardt-Light', Arial, "Liberation Sans", FreeSans, sans-serif; font-weight: normal; }

/* ## Lists */
.ol, .wysiwyg ol, .ul, .wysiwyg ul, .dl dt, .wysiwyg dl dt { list-style: none; padding: 0; line-height: 1.4; }
.ol li, .wysiwyg ol li, .ul li, .wysiwyg ul li, .dl dt li, .wysiwyg dl dt li { position: relative; padding-left: 1.2em; }
.ol li:before, .wysiwyg ol li:before, .ul li:before, .wysiwyg ul li:before, .dl dt li:before, .wysiwyg dl dt li:before { position: absolute; top: 0; left: 0; }
.ol li ol li:before, .wysiwyg ol li ol li:before, .ul li ol li:before, .wysiwyg ul li ol li:before, .dl dt li ol li:before, .wysiwyg dl dt li ol li:before { margin-right: .5em; }
.ol ol, .ol ul, .wysiwyg ol ol, .wysiwyg ol ul, .ul ol, .ul ul, .wysiwyg ul ol, .wysiwyg ul ul, .dl dt ol, .dl dt ul, .wysiwyg dl dt ol, .wysiwyg dl dt ul { padding-left: 1em; }

.ul li:before, .wysiwyg ul li:before { content: "\2014  "; }

.ol, .wysiwyg ol { counter-reset: li; }
.ol > li:before, .wysiwyg ol > li:before { content: counter(li); counter-increment: li; display: inline-block; margin-right: 1em; font-family: 'Theinhardt-Bold', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; }
.ol ol, .wysiwyg ol ol { padding-left: 1em; }

.dl dt, .wysiwyg dl dt { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; }
.dl dd:before, .wysiwyg dl dd:before { content: "\2014  "; }

/** Used on navigation listing */
.listing__navigation li:before, .widget_nav_menu li:before { content: "> " !important; }
.listing__navigation a, .widget_nav_menu a { color: inherit; }

/* 
*	WYSIWYG output defaults
*/
.wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl, .wysiwyg blockquote, .wysiwyg table, .wysiwyg address, .wysiwyg .wp-caption { margin-bottom: 12.6px; margin-bottom: 1.26rem; }
.wysiwyg p:last-child, .wysiwyg ul:last-child, .wysiwyg ol:last-child, .wysiwyg dl:last-child, .wysiwyg blockquote:last-child, .wysiwyg table:last-child, .wysiwyg address:last-child, .wysiwyg .wp-caption:last-child { margin-bottom: 0; }
.wysiwyg li p, .wysiwyg li ul, .wysiwyg li ol, .wysiwyg li dl, .wysiwyg li blockquote, .wysiwyg li table, .wysiwyg li address, .wysiwyg li .wp-caption, .wysiwyg dd p, .wysiwyg dd ul, .wysiwyg dd ol, .wysiwyg dd dl, .wysiwyg dd blockquote, .wysiwyg dd table, .wysiwyg dd address, .wysiwyg dd .wp-caption { margin-bottom: 0; }

.wysiwyg .wp-caption, .wysiwyg img { max-width: 100%; height: auto; display: block; }
.wysiwyg .wp-caption.alignleft, .wysiwyg img.alignleft { display: inline; float: left; margin-bottom: 12.6px; margin-bottom: 1.26rem; margin-right: 12.6px; margin-right: 1.26rem; }
.wysiwyg .wp-caption.alignright, .wysiwyg img.alignright { display: inline; float: right; margin-bottom: 12.6px; margin-bottom: 1.26rem; margin-left: 12.6px; margin-left: 1.26rem; }
.wysiwyg .wp-caption.aligncenter, .wysiwyg img.aligncenter { margin-left: auto; margin-right: auto; }

.wysiwyg .wp-caption .wp-caption-text { margin-top: 3px; margin-top: 0.3rem; }

/**  */
/**  */
.avatar { width: 4.1rem; margin-bottom: .5rem; }

/**  	PAGINATION */
.pagination-links .prev { margin-right: 2.5px; margin-right: 0.25rem; }
.pagination-links .prev:before { content: '\2190  '; margin-right: 1.2px; margin-right: 0.12rem; }
.pagination-links .next { margin-left: 2.5px; margin-left: 0.25rem; }
.pagination-links .next:after { background: none; content: '  \2192'; display: inline !important; height: auto; margin-left: 1.2px; margin-left: 0.12rem; position: static; top: auto; width: auto; }
.pagination-links a.page-numbers:hover { border-bottom: 2px solid #ef2735; }

/** BUTTONS */
/**   */
.widget { padding-bottom: 1em; /** Widgets with listings(Categories,Pages, Navigation) often add hierarchy to the lists stylable via following class */ }
.widget .children { padding-left: 1em; }

/**  */
/** Colour Reference:  
	$colour_black: #000000;
	$colour_grey: #232322;
	$colour_white: #ffffff;
	$colour_magenta: #b4083f;
	$colour_blue: #0932c4;
	$colour_yellow: #ffff00;
	$colour_green: #27874b;
	$colour_red: #f4000f;
	$colour_bluegrey: #252437; */
.colour--dark { background-color: #232322; color: #fff; }
.colour--dark a { color: #fff; }

.colour--green { background-color: #27874b; color: #fff; }
.colour--green a { color: #fff; }

.colour--blue { background-color: #0932c4; color: #fff; }
.colour--blue a { color: #fff; }

.colour--red { background-color: #f4000f; color: #fff; }
.colour--red a { color: #fff; }

.colour--yellow { background-color: yellow; color: #000; }
.colour--yellow a { color:   black; }

.colour--white { background-color: white; color: #000; }
.colour--white .h2--ruled { border-color: #cccccc; }

.colour--light-grey { background-color: #cbcccb; }
.colour--light-grey .h2--ruled { border-color: #989998; }
.colour--light-grey a { color: #0932c4; }

.main-navigation-container { min-height: 100%; position: fixed; z-index: 1; }
.main-navigation-container * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.main-navigation-container .main-navigation-container__fixed-size { left: -15.75rem; min-height: 100%; position: absolute; top: 0; width: 14rem; }
.main-navigation-container .main-navigation-container__openable { display: none; min-height: 100%; position: fixed; right: 0; top: 0; width: 100%; z-index: 10; }
.main-navigation-container .main-navigation-container__mobile-toggle { background: red; display: block; left: 0; position: fixed; top: 0; height: 26px; height: 2.6rem; width: 26px; width: 2.6rem; }
@media (min-width: 34em) { .main-navigation-container { width: 63rem; min-height: 26px; min-height: 2.6rem; }
  .main-navigation-container .main-navigation-container__fixed-size { z-index: 10; top: 0; left: 0; width: 100%; position: static; }
  .main-navigation-container .main-navigation-container__openable { display: block; height: 100%; height: 100%; max-height: 0; min-height: 0; position: static; z-index: 9; top: 0; width: 100%; overflow: hidden; -webkit-transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out; -moz-transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out; -o-transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out; transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out; }
  .main-navigation-container .main-navigation-container__openable.open { height: auto; min-height: 0; max-height: 500em; }
  .main-navigation-container .main-navigation-container__mobile-toggle { display: none; } }

.main-navigation { background: #272726; color: #f2f1f0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; height: 26px; height: 2.6rem; justify-content: center; line-height: 26px; line-height: 2.6rem; width: 100%; }
.main-navigation a { color: #f2f1f0; }
.main-navigation a:hover { color: #ef2735; }
.main-navigation a:after { content: none; display: none; }
.main-navigation .main-navigation__menu-item { background: #272726; font-family: 'Theinhardt-Light', Arial, "Liberation Sans", FreeSans, sans-serif; font-weight: normal; white-space: nowrap; }
.main-navigation .main-navigation__menu-item .drop { background: #272726; }
.main-navigation .main-navigation__menu-item:nth-child(2) { background: #464648; }
.main-navigation .main-navigation__menu-item:nth-child(2) .drop { background: #464648; }
.main-navigation .main-navigation__menu-item:nth-child(3) { background: #96989c; }
.main-navigation .main-navigation__menu-item:nth-child(3) .drop { background: #96989c; }
.main-navigation .main-navigation__menu-item.main-navigation__menu-item--flexible { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; max-width: 100%; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; }
.main-navigation .main-navigation__menu-item .title { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; padding-left: 10px; padding-left: 1rem; padding-right: 10px; padding-right: 1rem; }
.main-navigation .main-navigation__menu-item--dropdown { position: relative; }
.main-navigation .main-navigation__menu-item--dropdown .drop { height: 0; overflow: hidden; position: absolute; min-width: 100%; top: 26px; top: 2.6rem; padding-left: 10px; padding-left: 1rem; padding-right: 15px; padding-right: 1.5rem; }
.main-navigation .main-navigation__menu-item--dropdown:hover .drop, .main-navigation .main-navigation__menu-item--dropdown.active .drop { height: auto; padding-top: 5px; padding-top: 0.5rem; padding-bottom: 10px; padding-bottom: 1rem; }
.main-navigation .main-navigation__menu-item--search { height: 100%; }
.main-navigation .main-navigation__menu-item--search .site-search__input { color: #272726; font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; height: 26px; height: 2.6rem; }
.main-navigation .main-navigation__menu-item--profile { background: #96989c; }
.main-navigation .main-navigation__menu-item--profile .avatar { display: none; }
.main-navigation .main-navigation__menu-item--profile .title a { color: #272726; }
.main-navigation .main-navigation__menu-item--profile .drop { background: #96989c; color: #272726; right: 0; left: auto; }
.main-navigation .main-navigation__menu-item--quickpost { display: none; position: absolute; right: 0; height: 26px; height: 2.6rem; width: 26px; width: 2.6rem; }
.main-navigation .main-navigation__menu-item--quickpost .title { text-align: center; width: 100%; height: 100%; display: block; }
@media (max-width: 34em) { .main-navigation { display: block; line-height: 14px; line-height: 1.4rem; padding-top: 5px; padding-top: 0.5rem; padding-bottom: 5px; padding-bottom: 0.5rem; height: auto; }
  .main-navigation .main-navigation__menu-item { background: #272726; border-bottom: 1px solid #41413f; padding-left: 10px; padding-left: 1rem; padding-right: 10px; padding-right: 1rem; padding-top: 5px; padding-top: 0.5rem; padding-bottom: 5px; padding-bottom: 0.5rem; }
  .main-navigation .main-navigation__menu-item .title { padding: 0; }
  .main-navigation .main-navigation__menu-item .drop, .main-navigation .main-navigation__menu-item:nth-child(2) .drop, .main-navigation .main-navigation__menu-item:nth-child(3) .drop { margin-top: 4px; margin-top: 0.4rem; background: transparent; }
  .main-navigation .main-navigation__menu-item:nth-child(2), .main-navigation .main-navigation__menu-item:nth-child(3) { background: #272726; }
  .main-navigation .main-navigation__menu-item--dropdown .drop { background: transparent; display: block; height: auto; padding: 0; position: relative; top: 0; }
  .main-navigation .main-navigation__menu-item--dropdown.active .drop, .main-navigation .main-navigation__menu-item--dropdown:hover .drop { padding-top: 0; padding-bottom: 0; }
  .main-navigation .main-navigation__menu-item--root .drop { display: none; }
  .main-navigation .main-navigation__menu-item--search { border-bottom: none; height: 26px; height: 2.6rem; left: 0; position: fixed; top: 0; width: 100%; padding: 0; }
  .main-navigation .main-navigation__menu-item--search.main-navigation__menu-item--flexible { padding-left: 26px; padding-left: 2.6rem; padding-right: 26px; padding-right: 2.6rem; }
  .main-navigation .main-navigation__menu-item--quickpost { height: 26px; height: 2.6rem; position: fixed; right: 0; top: 0; width: 26px; width: 2.6rem; }
  .main-navigation .main-navigation__menu-item--profile { border-bottom: none; }
  .main-navigation .main-navigation__menu-item--profile .avatar { display: none; } }

@media (min-width: 34em) { body.logged-in .main-navigation .main-navigation__menu-item--profile { background: yellow; padding-right: 26px; padding-right: 2.6rem; }
  body.logged-in .main-navigation .main-navigation__menu-item--profile .avatar { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; max-height: 100%; vertical-align: top; width: auto; } }
body.logged-in .main-navigation .main-navigation__menu-item--profile .title { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; vertical-align: top; }
@media (max-width: 34em) { body.logged-in .main-navigation .main-navigation__menu-item--profile .title a { color: #f2f1f0; } }
body.logged-in .main-navigation .main-navigation__menu-item--profile .drop { background: yellow; }
body.logged-in .main-navigation .main-navigation__menu-item--profile .drop a { color: #272726; }
body.logged-in .main-navigation .main-navigation__menu-item--profile .drop a:hover { color: #ef2735; }
body.logged-in .main-navigation .main-navigation__menu-item--quickpost { display: block; }

.site-search { width: 100%; }
.site-search .site-search__input { height: 100%; outline: none; border: none; background-color: #FFFFFF; padding: 0 1em; margin: 0; font-size: 1em; width: 100%; }
.site-search .twitter-typeahead { width: 100%; height: 100%; vertical-align: top; }
.site-search .twitter-typeahead input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 0 1em; margin: 0; border: none; outline: none; font-size: 1em; }
.site-search .twitter-typeahead .tt-hint { color: #8a8a87; }
.site-search .twitter-typeahead .tt-dropdown-menu { width: 100%; background: white; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] { padding: 0 1em; clear: both; overflow: hidden; margin: 0 0 2rem 0; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] h2 { letter-spacing: 1px; font-weight: 400; color: #a3a3a1; float: left; line-height: 1.8em; width: 16%; height: 100%; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] .tt-suggestions { float: left; width: 84%; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] .tt-suggestions .tt-suggestion { padding: 0 .5em; line-height: 1.8em; width: 100%; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] .tt-suggestions .tt-suggestion:hover { background-color: #71716d; color: white; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"] .tt-suggestions .tt-suggestion p { margin-bottom: 0; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"]:hover { background-color: #a3a3a1; }
.site-search .twitter-typeahead .tt-dropdown-menu [class^="tt-dataset-"]:hover h2 { color: white; }

.navigation-notifications { background: #cbcccb; color: #272726; max-height: 100px; max-height: 10rem; }

.navigation-quickpost { background: #0932c4; }

.quickpost .col { padding-right: 10px; padding-right: 1rem; }

.quickpost--interface { color: white; }
.quickpost--interface input[type="text"], .quickpost--interface input[type="file"], .quickpost--interface textarea { width: 100%; margin-bottom: 0; }
.quickpost--interface .field { margin-bottom: 10px; margin-bottom: 1rem; }
.quickpost--interface .quickpost--config { padding-bottom: 0; }
.quickpost--interface .quickpost--config .col { height: 100%; }
.quickpost--interface .quickpost--config input[type="radio"] { display: none; }
.quickpost--interface .quickpost--config .quickpost--blog-select { width: 100%; margin-bottom: 0; height: 25px; height: 2.5rem; }
.quickpost--interface .quickpost--config .quickpost--type-select { display: block; width: 100%; height: 100%; background: #FF0000; height: 25px; height: 2.5rem; line-height: 25px; line-height: 2.5rem; text-align: center; }
.quickpost--interface .quickpost--config input[type="radio"]:checked + .quickpost--type-select { background: #00FF00; }

/**   */
.template__noticeboard .col--side__left { width: 16.66667%; }
.template__noticeboard .col--stream { width: 50%; }
.template__noticeboard .col--side__right { width: 33.33333%; }

/** Stream  The posts and their container used across Noticeboards & Sketchbooks */
/** Stream Filters  Appearing at the top of the posts these should be styled as tabs.  There are a couple of states that should be considered   :hover .s-active */
.stream--filters li { width: auto; }
.stream--filters li a { background: #787878; color: #fff; font-size: .8rem; font-family: 'Theinhardt-Regular', Arial, "Liberation Sans", FreeSans, sans-serif; display: inline-block; padding: 0.7rem; }
.stream--filters li a:hover { background-color: #4a4a4a; }
.stream--filters li a.s__active, .stream--filters li a:active { background-color: #fff; color: #4a4a4a; }

.stream--article { border-top: 1px solid red; padding: 1.4rem 0; }
.stream--article:first-child { border-top: 0; padding-top: 0; }
.stream--article .article--header { padding-bottom: 14px; padding-bottom: 1.4rem; }
.stream--article .article--header img { margin-bottom: 5px; margin-bottom: 0.5rem; }
.stream--article .article--meta { font-family: 'Theinhardt-Light', Arial, "Liberation Sans", FreeSans, sans-serif; font-weight: normal; font-size: 8px; font-size: 0.8rem; padding-right: 14px; padding-right: 1.4rem; }
.stream--article .article--meta .entry-date { display: block; padding-bottom: 7px; padding-bottom: 0.7rem; }
.stream--article .article--meta .entry-date .date { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; }
.stream--article .article--meta .entry-date .time { display: block; }
.stream--article .article--meta .byline .author { font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; }

/**  */
.comments-section { margin-top: 14px; margin-top: 1.4rem; padding-top: 32px; padding-top: 3.2rem; padding-bottom: 32px; padding-bottom: 3.2rem; position: relative; }
.comments-section .comments-section--header { position: absolute; left: -14px; left: -1.4rem; right: -14px; right: -1.4rem; border-top: 1px solid #f4000f; top: 0; font-size: 8px; font-size: 0.8rem; }
.comments-section .comments-section--header .comments-section--count { float: left; width: 61px; width: 6.1rem; padding: 5px; padding: 0.5rem; background: #f4000f; color: white; }
.comments-section .comments-section--header .comments-section--navigation { float: right; padding: 5px; padding: 0.5rem; }
.comments-section .comments-section--header .comments-section--navigation a, .comments-section .comments-section--header .comments-section--navigation span { color: #f4000f; }
.comments-section .comments-section--header .comments-section--navigation a.current, .comments-section .comments-section--header .comments-section--navigation a:hover, .comments-section .comments-section--header .comments-section--navigation span.current, .comments-section .comments-section--header .comments-section--navigation span:hover { color: #f4000f; border-bottom: 2px solid #f4000f; }
.comments-section .comments-section--header__footer { top: auto; bottom: 0; }

.comments-listing { clear: both; }

.comment-body .comment-body--avatar { padding-right: 6px; padding-right: 0.6rem; }
.comment-body .comment-body--avatar img { width: 47px; width: 4.7rem; }
.comment-body .comment-body--header { height: 16px; height: 1.6rem; border-bottom: 1px solid #f4000f; margin-bottom: 5px; margin-bottom: 0.5rem; }
.comment-body .comment-body--author { float: left; font-family: 'Theinhardt-Medium', Arial, "Liberation Sans", FreeSans, sans-serif; font-style: normal; font-weight: normal; line-height: 16px; line-height: 1.6rem; }
.comment-body .comment-body--comment-meta { font-size: 8px; font-size: 0.8rem; line-height: 16px; line-height: 1.6rem; float: right; }
.comment-body .comment-body--comment-content { margin-bottom: 5px; margin-bottom: 0.5rem; }
.comment-body .comment-body--reply, .comment-body .comment-body--edit { text-align: right; }

.comment.depth-1 { padding-top: 10px; padding-top: 1rem; padding-bottom: 20px; padding-bottom: 2rem; }
.comment.depth-1:first-child { border-top: none; padding-top: 0; }
.comment.parent .children { position: relative; border-top: 1px solid #f4000f; margin-top: 10px; margin-top: 1rem; padding-top: 7px; padding-top: 0.7rem; background: #f2f1f0; }
.comment.parent .children:before { font-size: 8px; font-size: 0.8rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; top: 0; left: 0; content: 'Replies'; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; padding: 5px; padding: 0.5rem; background: #f4000f; color: white; width: 46px; width: 4.6rem; }
.comment.parent .children .children { border-top: none; }
.comment.parent .children .children:before { content: none; }
.comment.depth-2 .comment-body--avatar { padding-right: 6px; padding-right: 0.6rem; max-width: 43px; max-width: 4.3rem; }

.comments-section--add-comment { position: relative; }
.comments-section--add-comment #respond:before { content: ' '; left: -14px; left: -1.4rem; right: -14px; right: -1.4rem; height: 0; padding-top: 1px; overflow: hidden; background: #f4000f; display: block; position: absolute; top: 0; }
.comments-section--add-comment #reply-title { position: absolute; background: #f4000f; color: white; font-size: 8px; font-size: 0.8rem; padding: 5px; padding: 0.5rem; left: -14px; left: -1.4rem; top: 0; }
.comments-section--add-comment #commentform .required { color: #f4000f; }
.comments-section--add-comment #commentform .logged-in-as, .comments-section--add-comment #commentform .comment-notes { font-size: 8px; font-size: 0.8rem; margin-bottom: 13px; margin-bottom: 1.3rem; margin-left: 54px; margin-left: 5.4rem; padding-bottom: 5px; padding-bottom: 0.5rem; padding-top: 5px; padding-top: 0.5rem; }
.comments-section--add-comment #commentform label[for="comment"] { display: none; }
.comments-section--add-comment #commentform textarea, .comments-section--add-comment #commentform input[type="text"] { background: #f2f1f0; }
.comments-section--add-comment #commentform p label { font-size: 8px; font-size: 0.8rem; display: block; }
.comments-section--add-comment #commentform p input[type="text"] { width: 100%; }
.comments-section--add-comment #commentform p.comment-form-author, .comments-section--add-comment #commentform p.comment-form-email { width: 48%; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.comments-section--add-comment #commentform p.comment-form-author { margin-right: 3%; }
.comments-section--add-comment #commentform .form-allowed-tags { display: none; }

/** Header */
.header { text-align: center; padding: 4em 0; height: 11em; }

.header__title { text-align: left; }

/**  Profile Listings  Used on the staff and student directories  */
.profile { padding: 1.4rem 0 0.7rem 1.4rem; position: relative; }
.profile:before { border-top: 1px solid #272726; content: ""; display: block; position: absolute; top: 0; left: 1.4rem; right: 0; }
@media (max-width: 34em) { .profile { padding: 1.4rem; }
  .profile:before { right: 1.4rem; }
  .profile .thumb { float: left; }
  .profile .profile--info { float: left; margin-left: 1.4rem; }
  .profile .profile--info .name { margin-top: 0; } }
.profile .name { margin: 0.7rem 0 0; }
.profile .role { margin-bottom: 0.7rem; }
.profile .year { position: absolute; top: 1.4rem; right: 0; }

.profile__student .name { margin-bottom: .5em; }

/** Footer  Global */
.footer { background: #272726; color: #fff; margin-top: 2.8rem; padding-top: 1rem; position: relative; z-index: 1; }
.footer li { font-size: .75rem; }
@media (max-width: 34em) { .footer { padding: 1rem; } }

.footer--menu { margin: .5rem 0 1rem 0; }
@media (min-width: 34em) { .footer--menu { -webkit-column-count: 3; -moz-column-count: 3; -ms-column-count: 3; -o-column-count: 3; column-count: 3; } }
.footer--menu a { color: #fff; text-decoration: none; }

.notifications-message { background: #96989c; color: white; padding: 0.7rem 1.4rem 1.4rem; position: relative; margin: 0; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; padding-bottom: 5px; padding-bottom: 0.5rem; padding-left: 10px; padding-left: 1rem; padding-right: 10px; padding-right: 1rem; padding-top: 5px; padding-top: 0.5rem; font-size: 8px; font-size: 0.8rem; }
.notifications-message.notifications-message__positive { background: #27874b; }
.notifications-message.notifications-message__negative { background: #f4000f; }
.notifications-message.hide { opacity: 0; }
.notifications-message .notifications-message--dismiss { color: white; position: absolute; top: 0.7rem; right: 0.7rem; }

/**  States -------  page-wide, conditional changes. Prefixed by '.state-'  */
.state-mobile-menu-visible { overflow-x: hidden; }
.state-mobile-menu-visible .site-wrap, .state-mobile-menu-visible .avoid-menu { -webkit-transform: translateX(15.75rem); -moz-transform: translateX(15.75rem); -ms-transform: translateX(15.75rem); -o-transform: translateX(15.75rem); transform: translateX(15.75rem); }

/**  Helpers -------  These should only be one or two properties in length and prefixed with '.h-'  */
.h-center, .mu_register { display: block; margin-left: auto; margin-right: auto; }

.h-animate-transform { -webkit-transition: -webkit-transform, 0.5s, ease-in-out; -moz-transition: -moz-transform, 0.5s, ease-in-out; -o-transition: -o-transform, 0.5s, ease-in-out; transition: transform, 0.5s, ease-in-out; }

.homepage--map { margin-left: -16.7%; position: relative; z-index: 0; }

.homepage--header { height: auto; padding: 4.25em 0; outline: 10px solid lime; }

.homepage--gallery { display: block; position: relative; }
.homepage--gallery .cell { position: absolute; bottom: 0; left: 0; width: 100%; }

/**  */
.col--page { width: 39.17728%; }

.type-page, .mu_register { position: relative; width: 72.28208%; }
@media (max-width: 34em) { .type-page, .mu_register { width: auto; padding: 0 0.7rem; } }
.type-page .page--main, .mu_register .page--main { position: relative; width: 54.20054%; }
.type-page .page--aside, .mu_register .page--aside { position: relative; width: 30.62331%; }

.page--thumbnail { position: absolute; right: 0; top: 11em; z-index: 0; }

/** Course About Page  */
/** Block that displays link through to main content block.  */
.about--gallery { position: relative; }
.about--gallery img { position: absolute; top: 0; right: 0; z-index: 0; max-width: auto; }

.author { text-transform: capitalize; }

/** Used on the signup page, as we can't directly modify any of the markup within the form due to the way it's generated by WordPress we're  pretty much looking @extend all our styles from elsewhere  */
.mu_register { /** Import some styling that sets a  max-width for the page and centers it. */ }
.mu_register input[type="radio"] { width: auto; }
.mu_register label { display: block; }
.mu_register label.checkbox { display: inline-block; }
