<div class="field gw">
	<div class="col one-sixth">	
		<label for="url">Image URL</label>			
 	</div><!--
 --><div class="col five-sixths">
 		<input type="text" name="url">
 	</div>
</div>
<div class="field gw">
	<div class="col one-sixth">	
		<label for="image-file">Image Upload</label>			
 	</div><!--
 --><div class="col five-sixths">
 		<input type="file" name="image-file">
 	</div>
</div>
<div class="field gw">
	<div class="col one-sixth">	
		<label for="content">Caption</label>
	</div><!--
 --><div class="col five-sixths">
		<textarea name="caption" cols="30" rows="3"></textarea>
	</div>
</div>