<div class="field gw">
	<div class="col col-one-sixth">	
		<label for="title">Title</label>			
 	</div><!--
 --><div class="col col-five-sixths">
 		<input type="text" name="title">
 	</div>
</div>
<div class="field gw">
	<div class="col col-one-sixth">	
		<label for="url">URL</label>			
 	</div><!--
 --><div class="col col-five-sixths">
 		<input type="text" name="url">
 	</div>
</div>
<div class="field gw">
	<div class="col col-one-sixth">	
		<label for="content">Caption</label>
	</div><!--
 --><div class="col col-five-sixths">
		<textarea name="caption" cols="30" rows="3"></textarea>
	</div>
</div>