<div class="field gw">
	<div class="col one-sixth">	
		<label for="quote">Quote</label>			
 	</div><!--
 --><div class="col five-sixths">
 		<textarea name="quote"></textarea>
 	</div>
</div>
<div class="field gw">
	<div class="col one-sixth">	
		<label for="source">Source</label>			
 	</div><!--
 --><div class="col five-sixths">
 		<input type="text" name="source">
 	</div>
</div>
<div class="field gw">
	<div class="col one-sixth">	
		<label for="content">Caption</label>
	</div><!--
 --><div class="col five-sixths">
		<textarea name="caption" cols="30" rows="3"></textarea>
	</div>
</div>